<div class="page">
  <div class="page-content">

    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Representantes 
            <span class="badge badge-info">{{total}}</span>
          </h1>
        </div>
        <div class="col-md-2 float-right">
          <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer" name="ver-contacto">
            <i class="icon wb-list" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary btn-floating btn-icon btn-round" style="cursor: pointer" name="exportar-csv">
            <i class="icon wb-download" aria-hidden="true"></i>
          </button>
        </div>        
      </div>
    </div>
    <form style="display:none" id="frmPersonaje" role="search" method="GET" action="#">
      <div class="form-group col-md-2">
        <input type="checkbox" name="sinReferido" >
        <input type="checkbox" style="display: none;" name="csv" >
      </div>
    </form>
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" width="100%" id="tbRepresentantes">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Referido De</th>
              <th>Localidad</th>
              <th>Pot. Local</th>
              <th>Asesor</th>
              <th align="center" width="13%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>referido De</th>
              <th>Localidad</th>
              <th>Local</th>
              <th>Otro</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script data-plugin="select2"></script>

<!-- Referidos modal -->
<div class="modal fade" id="organizacionUpdate" role="dialog" aria-labelledby="organizacionUpdate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cambiar de organización:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select name="organizacion_set" data-model="organizaciones" class="selectAjax"></select>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success update-organizacion">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- imagen modal -->
<div class="modal fade" id="imagenPersonaje" role="dialog" aria-labelledby="imagenPersonaje" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="d-flex mr-3 lazy zoom-img" id="imagenZoom" data-plugin="zoom" width="100%" data-action="zoom-out" data-src="/portraits/default.png" src="/portraits/default.png">
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/vendor/webui-popover/webui-popover.css">
  <link rel="stylesheet" href="/assets/vendor/toolbar/toolbar.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}  

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/js/representantes_list.js"></script>  
{{/contentFor}}
