<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Ofertas 
            <span class="badge badge-info">{{total}}</span>
          </h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="ofertas/pre-map" title="Agregar Usuario">
            <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </button>
          </a>
        </div>        
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" width="100%" id="tbOfertas">
          <thead>
            <tr>
              <th>Personaje</th>
              <th>Entidad</th>
              <th>Titulo</th>
              <th>Fec Inicia</th>
              <th>Fec Fin</th>
              <th >Vacantes</th>
              <th>Ttl Ofertar</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Personaje</th>
              <th>Entidad</th>
              <th>Titulo</th>
              <th>Fec Inicia</th>
              <th>Fec Fin</th>
              <th >Vacantes</th>
              <th>Ttl Ofertar</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </tfoot>          
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/vendor/toolbar/toolbar.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/raty/jquery.raty.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/assets/examples/js/tables/datatable.min.js"></script>
  <script src="/assets/js/Plugin/raty.js"></script>
  <script src="/js/ofertas_list.js"></script>
{{/contentFor}}
