<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Registrar Oferta Laboral</h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body">
          <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">

                <fieldset class="scheduler-border">
                  <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>

                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Personaje Oferta:</label>
                      <select class="form-control empty selectAjax" name="personaje" data-model="personajes" data-plugin="select2"></select>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Entidad Oferta:</label>
                      <select class="form-control empty selectAjax" name="entidad" data-model="entidades" data-plugin="select2"></select>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Titulo :</label>
                      <input type="text" class="form-control" name="titulo" />
                    </div>

                    <div class="col-md-6">
                      <label class="form-control-label">Remuneración:</label>
                      <input type="text" class="form-control" data-plugin="formatter"  name="remuneracion" required="" data-pattern="[[999]][[999]][[999]][[999]]" />  
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-12">
                      <label class="form-control-label">Descripción:</label>
                      <textarea class="form-control" name="descripcion"></textarea>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6">
                      <label class="form-control-label">Fecha Inicio Convocatoria:</label>
                      <input type="text" class="form-control" id="inputDate1" name="fecha_inicio" readonly="" data-plugin="datepicker" data-weekstart="1" />
                    </div>

                    <div class="col-md-6">
                      <label class="form-control-label">Fecha Fin Convocatoria:</label>
                      <input type="text" class="form-control" id="inputDate1" name="fecha_fin" readonly="" data-plugin="datepicker" data-weekstart="1" />
                    </div>
                 
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Vacantes :</label>
                      <input type="text" class="form-control" data-plugin="formatter"  name="vacantes" required="" data-pattern="[[999]][[999]][[999]][[999]]" />  
                    </div>

                    <div class="col-md-6">
                      <label class="form-control-label">Total Ofertar:</label>
                      <input type="text" class="form-control" data-plugin="formatter"  name="ofertar" required="" data-pattern="[[999]][[999]][[999]][[999]]" />  
                    </div>
                  </div>
                </fieldset>
                  
                <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                  <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Registrar</button>
                </div>
                
              </div>             
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
  <link rel="stylesheet" href="/assets/vendor/formvalidation/formValidation.min.css">
  <link rel="stylesheet" href="/css/croppie.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
  <script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script>  
  <script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script>
  <script src="/assets/vendor/raty/jquery.raty.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Plugin/jquery-wizard.js"></script>  
  <script src="/js/croppie.min.js"></script>
  <script src="/assets/vendor/formatter/jquery.formatter.js"></script>
  <script src="/assets/js/Plugin/formatter.min.js"></script>
  <script src="/assets/js/Plugin/raty.js"></script>
  <script src="/js/hojavida_new.js"></script>
{{/contentFor}}
