<div class="page">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Page Widget -->
                <div class="widget widget-shadow">
                  <div class="widget-header">
                      <div class="widget-header-content">
                          <div class="media">
                            <div class="media-body">                              
                              <h3 class="profile-user text-center">{{titulo}}
                                <div class="example example-tooltip center">
                                  <div class="tooltip top" role="tooltip">
                                    <div class="tooltip-inner">
                                      {{estado}}
                                    </div>
                                  </div>
                                </div>
                                <hr>
                              </h3>
                            </div>
                          </div>
                          <br>
                          <div class="profile-job">
                            <dl class="dl-horizontal">                              
                              <dt>Entidad:</dt>
                              <dd>{{entidad.nombre}}</dd>
                              {{#if personaje}}
                                <dt>Personaje:</dt>
                                <dd>{{personaje.nombre}}</dd>
                              {{/if}}
                              <dt>Descripción:</dt>
                              <dd>
                                <div class="row">
                                  <div class="col-md-12" style="word-wrap: break-word;">{{descripcion}}</div>
                                </div>
                              </dd>
                              <dt>Remuneración:</dt>
                              <dd>${{money remuneracion}}</dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    <b>Vacantes</b>
                                  </div>
                                  <div class="col-md-6">
                                    <b>Total a Ofertar</b>
                                  </div>
                                </div>
                              </dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    {{vacantes}}
                                  </div>
                                  <div class="col-md-6">
                                    {{ofertar}}
                                  </div>
                                </div>
                              </dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    <b>Ofertados</b>
                                  </div>
                                  <div class="col-md-6">
                                    <b>Usados</b>
                                  </div>
                                </div>
                              </dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    {{ofertado}}
                                  </div>
                                  <div class="col-md-6">
                                    {{usado}}
                                  </div>
                                </div>
                              </dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    <b>Inicio Convocatoria:</b>
                                  </div>
                                  <div class="col-md-6">
                                    <b>Fin Convocatoria:</b>
                                  </div>
                                </div>
                              </dd>
                              <dd>
                                <div class="row">
                                  <div class="col-md-6">
                                    {{date fecha_inicio}}
                                  </div>
                                  <div class="col-md-6">
                                    {{date fecha_fin}}
                                  </div>
                                </div>
                              </dd>                             
                              <dd></dd>
                            </dl>                            
                          </div>
                      </div>
                    </div>
                  </div>
                <!-- End Page Widget -->
            </div>

            <div class="col-md-9">
                <!-- Panel -->
                <span class="float-right">
                    <a href="{{_id}}/edit" class="btn btn-default"><i class="icon wb-edit" aria-hidden="true"></i>Editar</a>
                    <a href="{{_id}}/delete" class="btn btn-danger"><i class="icon wb-close" aria-hidden="true"></i>Eliminar</a>
                </span>
                <br><br>
                <div class="panel">                  
                  <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="active nav-link" data-toggle="tab" href="#tareas" aria-controls="tareas" role="tab">
                          Ofertado <span class="badge badge-default">{{count personaje_ofertado}}</span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#comments" aria-controls="comments"
                        role="tab">
                          Hojas de Vida <span class="badge badge-default">{{count hoja_vida_enviada}}</span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#eliminados" aria-controls="eliminados"
                        role="tab">
                          Historial Eliminadas <span class="badge badge-default">{{count hoja_vida_eliminada}}</span>
                        </a>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane active animation-slide-left pt-20" id="tareas" role="tabpanel">
                        <form class="form-vertical hidden-xs-up datepair-this" action="{{_id}}/ofertar" id="proyectoTareaForm" method="POST">
                          
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="form-control-label" for="personaje">Vincular personaje:</label>
                              <select id="personaje" class="form-control selectAjax" data-model="personajes" required name="personaje"></select>  
                            </div>
                            
                            <div class="col-md-6">
                              <label class="form-control-label" for="fecha_inicio">Fecha Ofertado:</label>                              
                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control datepicker" id="inputDate1" name="fecha_ofertar" readonly="" data-plugin="datepicker" data-weekstart="1" />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row" >
                            <div class="col-md-6 col-xs-12">
                              <label class="form-control-label">Cant Ofertado :</label>
                              <input type="text" class="form-control" data-plugin="formatter"  name="cantidad_ofertada" required data-pattern="[[999]][[999]][[999]][[999]]" />  
                            </div>

                            <div class="col-md-6 col-xs-12">
                              <label class="form-control-label" for="descripcion">Observación:</label>
                              <textarea class="form-control" name="observacion" ></textarea>
                            </div>                          
                          </div>                          
                          <br><br>
                          <div class="row">
                            <div class="col-md-6">
                              <button type="submit" class="btn btn-success btn-block">Ofertar</button>  
                            </div>
                            <div class="col-md-6">
                              <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>  
                            </div>
                          </div>
                          
                        </form>
                        <div class="btn btn-block btn-success agregar-elemento">
                          <i class="icon wb-plus-circle" aria-hidden="true"></i>
                          Ofertar a Personaje
                        </div>
                        {{#if personaje_ofertado}}
                          <div class="container-fluid mt-20">
                            <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
                              <thead>
                                <tr>
                                  <th rowspan="1">Personaje</th>
                                  <th rowspan="1">Cant Ofertada</th>
                                  <th rowspan="1">Fecha</th>
                                  <th rowspan="1">Observación</th>
                                  <th rowspan="1" width="15%">Actions</th>
                                </tr>
                              </thead>
                              {{#each personaje_ofertado}}
                                <tr class="gradeA">
                                  <td tabindex="0">{{personaje.nombre}}</td>
                                  <td align="center">{{cantidad_ofertada}}</td>
                                  <td>{{date fecha}}</td>
                                  <td>{{observacion}}</td>
                                  <td>                                    
                                    <form action="{{../_id}}/eliminar_oferta" id="eliminarTareaForm" method="POST">
                                      <input type="hidden" name="id" value="{{_id}}">
                                      <div class="form-group">
                                        <a href="javascript:void(0)" class="btn btn-info btn-icon btn-outline btn-round VerHojaVida" data-personaje="{{personaje._id}}">
                                          <i class="icon wb-book" aria-hidden="true"></i>
                                        </a>
                                        <button class="btn btn-danger btn-icon btn-outline btn-round">
                                          <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                    </form>
                                  </td>
                                </tr>
                              {{/each}}
                            </table>
                          </div>
                        {{else}}
                          <h5 class="text-center">No se ha ofertado a personajes.</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane pt-20" id="comments" role="tabpanel">
                        {{#if hoja_vida_enviada}}
                          <div class="container-fluid mt-20">
                            <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
                              <thead>
                                <tr>
                                  <th rowspan="1">Personaje</th>
                                  <th rowspan="1">Referido</th>
                                  <th rowspan="1">Profesion</th>
                                  <th rowspan="1">Ubicacion</th>
                                  <th rowspan="1" width="17%">Prioridad</th>
                                  <th rowspan="1">Estado</th>
                                  <th rowspan="1">Actions</th>
                                </tr>
                              </thead>
                              {{#each hoja_vida_enviada}}
                                <tr class="gradeA">
                                  <td tabindex="0">{{hoja_vida.personaje.nombre}}</td>
                                  <td align="center">{{hoja_vida.referido.nombre}}</td>
                                  <td>{{hoja_vida.profesion}}</td>
                                  <td>{{hoja_vida.ubicacion}}</td>
                                  <td>
                                    <div class="example">
                                      <div class="rating" data-score="{{hoja_vida.prioridad}}" data-number="5" data-read-only="true" data-plugin="rating"></div>
                                    </div>
                                  </td>
                                  <td>{{hoja_vida.estado}}</td>
                                  <td>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-icon btn-outline btn-round" id="{{hoja_vida._id}}" onclick="eliminaHojaVida(this.id);">
                                      <i class="icon wb-close" aria-hidden="true"></i>
                                    </a>
                                  </td>
                                </tr>
                              {{/each}}
                            </table>
                          </div>
                        {{else}}
                          <h5 class="text-center">Aún no tiene hojas de vida para la oferta</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane pt-20" id="eliminados" role="tabpanel">
                        {{#if hoja_vida_eliminada}}
                          <div class="container-fluid mt-20">
                            <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
                              <thead>
                                <tr>
                                  <th rowspan="1">Personaje</th>
                                  <th rowspan="1">Profesion</th>
                                  <th rowspan="1">Ubicacion</th>
                                  <th rowspan="1">Elimino</th>
                                  <th rowspan="1">Fecha</th>
                                </tr>
                              </thead>
                              {{#each hoja_vida_eliminada}}
                                <tr class="gradeA">
                                  <td tabindex="0">{{hoja_vida.personaje.nombre}}</td>
                                  <td>{{hoja_vida.profesion}}</td>
                                  <td>{{hoja_vida.ubicacion}}</td>
                                  <td>{{creador.name}}</td>
                                  <td>{{date fecha}}</td>
                                </tr>
                              {{/each}}
                            </table>
                          </div>
                        {{else}}
                          <h5 class="text-center">Aún no tiene hojas de vida para la oferta</h5>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>

<!-- Referidos modal -->
<div class="modal fade" id="modalHojasDeVida">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Hojas de Vida Personaje<hr></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-dividered list-group-full h-300" style="overflow:auto">
          <div data-role="container">
              <div data-role="content" id="contenHV">                
              </div>
            </div>
          </ul>
      </div>
    </div>
  </div>
</div>

<script data-plugin="select2"></script>
<script data-plugin="datepair"></script>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
  <link rel="stylesheet" href="/assets/vendor/formvalidation/formValidation.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
  <link rel="stylesheet" href="/css/croppie.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
  <script src="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script>
  <script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
  <script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script>  
  <script src="/assets/vendor/raty/jquery.raty.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/select2.js"></script>
  <script src="/assets/js/Plugin/jquery-wizard.js"></script>  
  <script src="/js/croppie.min.js"></script>
  <script src="/assets/vendor/formatter/jquery.formatter.js"></script>
  <script src="/assets/js/Plugin/formatter.min.js"></script>
  <script src="/assets/js/Plugin/datatables.min.js"></script>  
  <script src="/assets/examples/js/tables/datatable.min.js"></script>  
  <script src="/assets/js/Plugin/raty.js"></script>
  <script src="/js/ofertas_view.js"></script>
{{/contentFor}}
