<div class="page">
  <div class="page-content">

    <div class="panel page-header">
      <h1 class="page-title">Organizaciones <span class="badge badge-info">{{total}}</span>
        <span class="float-right">
          <a href="organizaciones/new" title="Agregar Organizacion">
            <button class="btn btn-success">
              <span class="btn-label">
                <i class="icon wb-plus-circle" aria-hidden="true"></i>
              </span>
              <span class="hidden-xs">Agregar Organizacion</span>
            </button>
          </a>
        </span>
      </h1><hr>
    </div>

   <div class="panel">
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
          <thead>
            <tr>
              <th rowspan="1">Nombre</th>
              <th rowspan="1">Representantes</th>
              <th rowspan="1">Integrantes</th>
              <th rowspan="1">Potencial Declarado</th>
              <th rowspan="1">Potencial Esperado</th>
              <th rowspan="1">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Representantes</th>
              <th>Integrantes</th>
              <th>Potencial Declarado</th>
              <th>Potencial Esperado</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {{#each results}}
              {{#if nombre}}
                <tr class="gradeA">
                  <td tabindex="0">{{nombre}}</td>
                  <td align="center">{{count representantes}}</td>
                  <td align="center">{{count integrantes}}</td>
                  <td align="center">{{potencial_declarado}}</td>
                  <td align="center">{{potencial_esperado}}</td>
                  <td class="actions" align="center">
                    <a href="/admin/organizaciones/{{_id}}" title="Ver" rol="tooltip">
                      <button class="btn btn-primary btn-icon btn-outline btn-round">
                        <i class="icon wb-eye" aria-hidden="true"></i>
                      </button>
                    </a>
                    <a href="/admin/organizaciones/{{_id}}/edit" title="Editar" rol="tooltip">
                      <button class="btn btn-default btn-icon btn-outline btn-round">
                        <i class="icon wb-pencil" aria-hidden="true"></i>
                      </button>
                    </a>
                    <a href="/admin/organizaciones/{{_id}}/delete" title="Inactivar" rol="tooltip">
                      <button class="btn btn-danger btn-icon btn-outline btn-round">
                        <i class="icon wb-close" aria-hidden="true"></i>
                      </button>
                    </a>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
    </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
  <script src="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.html5.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.flash.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.print.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/js/Plugin/datatables.min.js"></script>  
  <script src="/assets/examples/js/tables/datatable.min.js"></script>  
{{/contentFor}}
