<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Registrar Organizacion</h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body">
            <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                <div class="row row-lg">
                  <div class="col-lg-12 form-horizontal">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>

                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            <input type="text" class="form-control" name="nombre" />
                            <label class="floating-label">Nombre</label>
                        </div>

                        <div class="form-group form-material floating" data-plugin="formMaterial">
                          <input type="text" class="form-control" name="descripcion"  />
                          <label class="floating-label">Descripción</label>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Potencial declarado</label>
                                <input type="number" class="form-control" name="potencial_declarado" value="" />
                            </div>
                            
                            <div class="col-md-6">
                                <label>Potencial esperado</label>
                                <input type="number" class="form-control" name="potencial_esperado" value="" />
                            </div>
                        </div>
                    </fieldset>
                      
                    <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                      <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Registrar</button>
                    </div>
                  </div>             
                </div>
            </form>
        </div>
    </div>
</div>