<div class="page">
    <div class="page-content containter-fluid">      
        <div class="panel">
            <div class="panel-body">
                <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                    <div class="widget-header white bg-blue-600">
                        <div class="row row-lg">
                            <div class="col-xs-10 col-md-8 offset-md-1">
                              <div class="font-size-30 margin-bottom-15">{{nombre}}</div>
                              <div class="font-size-15 margin-bottom-15">{{descripcion}}</div>
                              <hr>                              
                              <div class="row">
                                  <div class="col-md-3 margin-bottom-5 text-nowrap"><i class="icon wb-ticket margin-right-10" aria-hidden="true"></i>
                                      <span class="text-uppercase">Personajes: {{count integrantes}}</span>
                                  </div>
                                  <div class="col-md-4 margin-bottom-5 text-nowrap"><i class="icon wb-ticket" aria-hidden="true"></i>
                                      <span class="text-uppercase text-break">Ptl declarado: {{potencial_declarado}}</span>
                                  </div>
                                  <div class="col-md-4 margin-bottom-5 text-nowrap"><i class="icon wb-ticket" aria-hidden="true"></i>
                                      <span class="text-uppercase text-break">Ptl esperado: {{potencial_esperado}}</span>
                                  </div>    
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-3 align-text-center"><br>
                              <div class="btn-group">
                                <button data-toggle="modal" data-target="#addPersonaje" title="Agregar Personaje" class="btn btn-success btn-floating btn-round" type="button">
                                  <i class="icon wb-user-add" aria-hidden="true" ></i>
                                </button>    
                              </div>
                              <div class="btn-group" role="group">
                                  <a href="{{_id}}/edit" title="Modificar Organizacion">
                                    <button class="btn btn-default btn-floating btn-round" type="button">
                                      <i class="icon wb-pencil" aria-hidden="true" ></i>
                                    </button>    
                                  </a>
                              </div>                            
                              <div class="btn-group">
                                  <a href="{{_id}}/delete" title="Eliminar Organizacion">
                                    <button class="btn btn-danger btn-floating btn-round" type="button">
                                      <i class="icon wb-close" aria-hidden="true" ></i>
                                    </button>
                                  </a>
                              </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>

            <div class="panel-body">
              <div class="widget-header white">
                <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
                  <thead>
                      <tr>
                        <th rowspan="1"></th>
                        <th rowspan="1">Nombre</th>
                        <th rowspan="1">Tipo</th>
                        <th rowspan="1">Referido De</th>
                        <th rowspan="1">Localidad</th>
                        <th rowspan="1">Contacto</th>
                        <th rowspan="1">E-mail</th>
                        <th rowspan="1">Items</th>
                        <th rowspan="1" align="cent">Actions</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>referido De</th>
                        <th>Localidad</th>
                        <th>Contacto</th>
                        <th>E-mail</th>
                        <th>Items</th>
                        <th>Actions</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {{#each representantes}}
                      <tr class="gradeA">
                        <td>
                          <div class="color-{{#if color}}{{color}}{{else}}default{{/if}}">
                            <img class="d-flex mr-3 lazy" data-plugin="zoom" data-action="zoom" width=50 data-src="{{#if foto_perfil}}/uploads/{{foto_perfil}}{{else}}/portraits/default.png{{/if}}" alt="{{nombre}}">  
                          </div>
                        </td>
                        <td>{{nombre}} {{apellido}}</td>
                        <td>Representante</td>
                        <td id="{{referido._id}}" class="personajeDet">{{referido.nombre}}</td>
                        <td>{{localidad.nombre}}</td>
                        <td><small>{{#if telefono_movil}}<a href="phone:{{telefono_movil}}">{{telefono_movil}}</a>{{else}}<em>No tiene teléfono celular.</em>{{/if}}<br></small></td>
                        <td>{{email_personal}}</td>
                        <td>
                          <span class="badge badge-default"><i class="fa fa-comment"></i> {{count comentarios}}</span>
                        </td>
                        <td class="actions" align="center">
                          <a href="/admin/usuarios/{{_id}}/add" title="Crear Usuario Lider" rol="tooltip">
                            <button class="btn btn-warning btn-icon btn-outline btn-round">
                              <i class="icon wb-user" aria-hidden="true"></i>
                            </button>
                          </a>
                          <a href="/admin/personajes/{{_id}}" title="Ver" rol="tooltip">
                            <button class="btn btn-primary btn-icon btn-outline btn-round">
                              <i class="icon wb-eye" aria-hidden="true"></i>
                            </button>
                          </a>
                          <a href="/admin/personajes/{{_id}}/edit" title="Editar" rol="tooltip">
                            <button class="btn btn-default btn-icon btn-outline btn-round">
                              <i class="icon wb-pencil" aria-hidden="true"></i>
                            </button>
                          </a>                    
                        </td>
                      </tr>
                    {{/each}}
                    {{#each integrantes}}
                      <tr class="gradeA">
                        <td>
                          <div class="color-{{#if color}}{{color}}{{else}}default{{/if}}">
                            <img class="d-flex mr-3 lazy" data-plugin="zoom" data-action="zoom" width=50 data-src="{{#if foto_perfil}}/uploads/{{foto_perfil}}{{else}}/portraits/default.png{{/if}}" alt="{{nombre}}">  
                          </div>
                        </td>
                        <td>{{nombre}} {{apellido}}</td>
                        <td>Integrante</td>
                        <td id="{{referido._id}}" class="personajeDet">{{referido.nombre}}</td>
                        <td>{{localidad.nombre}}</td>
                        <!--<td>{{#if fecha_nacimiento}}{{date fecha_nacimiento}}{{else}}YYYY-MM-DD{{/if}}</td>-->
                        <td><small>{{#if telefono_movil}}<a href="phone:{{telefono_movil}}">{{telefono_movil}}</a>{{else}}<em>No tiene teléfono celular.</em>{{/if}}<br></small></td>
                        <td>{{email_personal}}</td>
                        <td>
                          <span class="badge badge-default"><i class="fa fa-comment"></i> {{count comentarios}}</span>
                        </td>
                        <td class="actions" align="center">
                          <a href="/admin/personajes/{{_id}}" title="Ver" rol="tooltip">
                            <button class="btn btn-primary btn-icon btn-outline btn-round">
                              <i class="icon wb-eye" aria-hidden="true"></i>
                            </button>
                          </a>
                          <a href="/admin/personajes/{{_id}}/edit" title="Editar" rol="tooltip">
                            <button class="btn btn-default btn-icon btn-outline btn-round">
                              <i class="icon wb-pencil" aria-hidden="true"></i>
                            </button>
                          </a>                    
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>     
          </div>     
        </div>    
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addPersonaje">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar Personaje</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <select id="personaje_modal" class="form-control selectAjax" data-model="personajes" name="personaje"></select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-success agregar-organizacion" data-id="{{_id}}">Agregar</div>
      </div>
    </div>
  </div>
</div>

<div style="display: none">
    <script data-plugin="select2" style="display: none"></script>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
  <script src="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.html5.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.flash.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.print.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/js/Plugin/datatables.min.js"></script>  
  <script src="/assets/examples/js/tables/datatable.min.js"></script>  
  <script src="/js/select2.js"></script>
  <script src="/js/personajes_list.js"></script>  
{{/contentFor}}