<!-- Core and plugin dependencies -->
<script src="/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/tether/tether.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/assets/vendor/moment/moment.min.js"></script>
<script src="/assets/vendor/livestamp/livestamp.min.js"></script>
<script src="/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>
<script src="/assets/vendor/toastr/toastr.min.js"></script>
<script src="/assets/vendor/jquery-cookie-master/src/jquery.cookie.js"></script>


<!-- Page specific -->
{{{block 'pageVendors'}}}

<!-- Template relating scripts -->
<script src="/assets/js/Autoload.js"></script>
<script src="/assets/js/State.js"></script>
<script src="/assets/js/Component.js"></script>
<script src="/assets/js/Plugin.js"></script>
<script src="/assets/js/Base.js"></script>
<script src="/assets/js/Config.js"></script>
<script src="/assets/js/Section/Menubar.js"></script>
<script src="/assets/js/Section/GridMenu.js"></script>
<script src="/assets/js/Section/Sidebar.js"></script>
<script src="/assets/js/Section/PageAside.js"></script>
<!-- Template config scripts -->
<script src="/assets/js/config/colors.js"></script>
<script>
    Config.set('assets', '/assets');
</script>

<script src="/assets/js/Site.js"></script>
<script src="/assets/js/Plugin/asscrollable.js"></script>
<script src="/assets/js/Plugin/material.js"></script>
<script src="/assets/js/Plugin/action-btn.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
<script src="/assets/js/Plugin/matchheight.js"></script>
<script src="/assets/js/Plugin/slidepanel.js"></script>
<script src="/assets/js/Plugin/menu.js"></script>
<script src="/js/lazyload.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/select2.js"></script>

<!-- Page Plugins -->
{{{block 'pageScripts'}}}

<script>
  (function(document, window, $) {
      'use strict';
      var Site = window.Site;
      var Autoload = window.Autoload;
      $(document).ready(function() {
          Autoload.run(['slidepanel', 'screenfull', 'jquery-selective', 'alertify'], function() {
            Site.run();
            $(window).trigger('siteReady');
            {{{block 'loadedScript'}}}
          });
      });

      //Comprueba si existen alertas desde Route          
      var message = $.cookie('mensaje');

      if(message){
        message = message.split('|');
        var type = message[0];
        var msj = message[1].replace('_',' ');

        toastr[type](msj, '');
        $.removeCookie('mensaje', { path: '/' });
      }
      //Fin
      
      //variables
      var pass1 = $('[name=passNva]');
      var pass2 = $('[name=passNvaC]');
      var container = $('[name=passAlertCh]');
      var confirmacion = "&nbsp;&nbsp;<i class='icon wb-check-circle font-size-15'>Las contraseñas coinciden&nbsp;&nbsp;";
      var longitud = "&nbsp;&nbsp;<i class='icon wb-alert-circle font-size-15'> La contraseña debe ser mayor a 6 caracteres&nbsp;&nbsp;";
      var negacion = "&nbsp;&nbsp;<i class='icon wb-alert-circle font-size-15'>No coinciden las contraseñas&nbsp;&nbsp;";
      var vacio = "&nbsp;&nbsp;<i class='icon wb-info-circle font-size-15'>La contraseña no puede estar vacía&nbsp;&nbsp;";
      //oculto por defecto el elemento span
      var span = $('<span></span>').appendTo(container);
      span.hide();
      //función que comprueba las dos contraseñas
      function coincidePassword(){
        var valor1 = pass1.val();
        var valor2 = pass2.val();
        //muestro el span
        span.empty();
        span.show().removeClass();
        $('#cambiarPss').attr("disabled", true);
        //condiciones dentro de la función
        if(valor1 != valor2){
          span.append(negacion).addClass('counter-label red-600');
        }
        else if(valor1.length==0 || valor1==""){
          span.append(vacio).addClass('counter-label orange-600');
        }
        else if(valor1.length<6 ){
          span.append(longitud).addClass('counter-label red-600');
        }
        else if(valor1.length!=0 && valor1==valor2){
          span.append(confirmacion).removeClass("counter-label red-600").addClass('counter-label green-600');
          $('#cambiarPss').attr("disabled", false);
        }

      }
      //ejecuto la función al soltar la tecla
      pass1.keyup(function(){
        coincidePassword();
      });
      pass2.keyup(function(){
        coincidePassword();
      });
  })(document, window, jQuery);

  //configuracion Toastr
  toastr.options = {
    "closeButton" : true,
    "positionClass": "toast-top-center",
    "progressBar" : true,
    "preventDuplicates" : true,
    "newestOnTop" : true,
    "showMethod" : "slideDown"
  }
</script>
