<!-- Bootstrap and site stylesheets -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="/assets/css/site.css">
<link rel="stylesheet" href="/css/app.css">
<!-- Necessary plugin stylesheets -->
<link rel="stylesheet" href="/assets/vendor/asscrollable/asScrollable.min.css">
<link rel="stylesheet" href="/assets/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="/assets/vendor/switchery/switchery.css">
<link rel="stylesheet" href="/assets/vendor/flag-icon-css/flag-icon.css">
<link rel="stylesheet" href="/assets/vendor/toastr/toastr.min.css">
<!-- Icon stylesheets -->
<link rel="stylesheet" href="/assets/fonts/web-icons/web-icons.min.css">
<link rel="stylesheet" href="/assets/fonts/brand-icons/brand-icons.min.css">
<link rel="stylesheet" href="/assets/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="/assets/examples/css/pages/login-v3.css">
<!-- Font stylesheets -->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'> {{{block 'pageStyles'}}}
<style>
  body {
    padding-top: 0;
    padding-bottom: 0;
  }
</style>