<!-- Core and plugin dependencies -->
<script src="/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/tether/tether.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/assets/vendor/moment/moment.min.js"></script>
<script src="/assets/vendor/livestamp/livestamp.min.js"></script>
<script src="/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/toastr/toastr.min.js"></script>
<script src="/assets/vendor/jquery-cookie-master/src/jquery.cookie.js"></script>

<!-- Page specific -->
{{{block 'pageVendors'}}}


<script>
  (function(document, window, $) {
      'use strict';

      //Comprueba si existen alertas desde Route          
      var message = $.cookie('mensaje');

      if(message){
        message = message.split('|');
        var type = message[0];
        var msj = message[1].replace('_',' ');

        toastr[type](msj, '');
        $.removeCookie('mensaje', { path: '/' });
      }
      //Fin
  })(document, window, jQuery);

  //configuracion Toastr
  toastr.options = {
    "closeButton" : true,
    "positionClass": "toast-top-center",
    "progressBar" : true,
    "preventDuplicates" : true,
    "newestOnTop" : true,
    "showMethod" : "slideDown"
  }
</script>