<div class="site-menubar site-menubar-light">
    <div><div>
    <ul class="site-menu">
        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-layout" aria-hidden="true"></i>                
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/resumen">
                            <span class="site-menu-title">Resumen</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/tareas">
                            <span class="site-menu-title">Mis Tareas</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                <span class="site-menu-title">Personajes</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/personajes/new">
                            <span class="site-menu-title">Nuevo</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/personajes">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/personajes/tree">
                            <span class="site-menu-title">Navegar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

         <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-clipboard" aria-hidden="true"></i>
                <span class="site-menu-title">Hojas de Vida</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/hojasdevida/new">
                            <span class="site-menu-title">Nuevo</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/hojasdevida">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                <span class="site-menu-title">Entidades</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/entidades/new">
                            <span class="site-menu-title">Nueva</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/entidades">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!--
        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                <span class="site-menu-title">Organizaciones</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/organizaciones/new">
                            <span class="site-menu-title">Nueva</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/organizaciones">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        -->
        <li class="dropdown site-menu-item has-sub">
            <a class="" href="/admin/representantes" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon fa-child" aria-hidden="true"></i>
                <span class="site-menu-title">Representantes</span>
            </a>
        </li>

        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-plugin" aria-hidden="true"></i>
                <span class="site-menu-title">Proyectos</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/proyectos/new">
                            <span class="site-menu-title">Nuevo</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/proyectos">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-globe" aria-hidden="true"></i>
                <span class="site-menu-title">Localidades</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/localidades/new">
                            <span class="site-menu-title">Nuevo</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/localidades">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/puestosdevotacion">
                            <span class="site-menu-title">Puestos De Votación</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {{#ifCond user.role '==' 'admin'}}
            <li class="dropdown site-menu-item has-sub">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                    <span class="site-menu-title">Usuarios</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <div class="dropdown-menu">
                    <ul class="site-menu-sub site-menu-normal-list">              
                        <li class="site-menu-item">
                            <a class="animsition-link" href="/admin/usuarios/new">
                                <span class="site-menu-title">Nuevo</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="/admin/usuarios">
                                <span class="site-menu-title">Explorar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {{/ifCond}}
        <li class="dropdown site-menu-item has-sub">
            <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>
                <span class="site-menu-title">Ofertas</span>
                <span class="site-menu-arrow"></span>
            </a>
            <div class="dropdown-menu">
                <ul class="site-menu-sub site-menu-normal-list">              
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/ofertas/new">
                            <span class="site-menu-title">Nueva</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/admin/ofertas">
                            <span class="site-menu-title">Explorar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    </div></div>
</div>