<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="campagins administration and management">
    <meta name="author" content="">
    <title>
        {{#if layout_title}}{{layout_title}}{{else}}Bogota Soy Yo{{/if}}
    </title>

    {{> login-head}}
</head>
<body class="page-login">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <!-- Page -->
    {{#if error}}
        <div class="alert dark alert-danger alert-dismissible" role="alert" style="text-align: center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            ERROR: {{error}}
        </div>
    {{/if}}
    
    {{{body}}}
    <!-- End Page -->
    {{> login-footer}}
</body>
</html>
