<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="campagins administration and management">
    <meta name="author" content="">
    <title>
        {{#if layout_title}}{{layout_title}}{{else}}Bogota Soy Yo{{/if}}
    </title>

    {{> defaults-head}}
</head>

<body class="site-navbar-small {{{block 'bodyClass'}}}">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your   browser</a> to improve your experience.</p>
    <![endif]-->
    {{> navigation}}
    {{> sidebar}}  
    <!-- Page -->
    {{{body}}}
    <!-- End Page -->
</body>
<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">BogotaSoyYo© 2017</div>
</footer>
{{> defaults-footer}}
</html>
