<!-- Page -->
<div class="page">
  <div class="page-main">
    <h3 class="page-aside-title text-center">Cumpleaños</h3>
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<!-- End Site Action -->


{{#contentFor "bodyClass"}}page-aside-left{{/contentFor}}
{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/assets/vendor/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/calendar.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/vendor/fullcalendar/fullcalendar.js"></script>
<script src="/assets/vendor/bootbox/bootbox.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script src="/assets/js/Plugin/bootstrap-datepicker.js"></script>
<script src="/assets/js/Plugin/action-btn.js"></script>
<script src="/assets/js/Plugin/editlist.js"></script>
<script src="/assets/js/Plugin/bootbox.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
<script src="/assets/js/App/Calendar.js"></script>
<script src="/js/select2.js"></script>
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.members = {{#if members}}{{{toJSON members}}}{{else}}{}{{/if}};
  window.events = {{#if events}}{{{toJSON events}}}{{else}}{}{{/if}};

  AppCalendar.run();
{{/contentFor}}
