<div class="page">
  <div class="page-content padding-30 container-fluid">

    <div class="row" data-plugin="matchHeight" data-by-row="true">            
      <div class="col-md-12">
        <div class="panel bg-blue-600 white">
          <div class="panel-body">
            <div class="text-center">
              <img class="rounded" width="160" height="180" src="../assets/logo.jpg" alt="...">
            </div>
            <div class="countdown">
              <h4>Próximas elecciones en:</h4>
              <div class="countdown-container" id="main-countdown"></div>
              <div class="float-right inidicador">
                <i style="cursor: pointer;" class="icon wb-eye" aria-hidden="true" onclick="ver_indicador();"></i>  
              </div>
            </div>
          </div>
        </div>
        
        <div id="inidicadores" style="border: 1">

          <div class="panel bg-blue-600 white">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="mb-0 white">
                    Potencial Electoral esperado
                    <span class="potencial-numero">{{numberFormat totales.potencial_esperado}}</span>
                  </h3>
                  <p>Total de votos esperados, Personajes</p><hr>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-0 white">
                    Potencial Electoral Necesario
                    <span class="potencial-numero">{{numberFormat totales.necesario}}</span>
                  </h3>
                  <p>Total de votos necesarios para la curul</p><hr>
                </div>
              </div>
              <div class="row">

                <div class="col-md-6">
                  <h3 class="mb-0 mt-15 white">
                    Potencial Electoral declarado
                    <span class="potencial-numero">{{numberFormat totales.potencial_declarado}}</span>
                  </h3>  
                  <p>Total de votos declarados por Lideres </p>
                </div>

                <div class="col-md-6">
                  <h3 class="mb-0 mt-15 white">
                    Potencial Electoral Objetivo
                    <span class="potencial-numero">{{numberFormat totales.meta}}</span>
                  </h3>  
                  <p>Total de votos objetivos de la campaña </p>
                </div>
              </div>
            </div>
          </div>
          
          <!-- FIN -->
          <div class="row hidden-xs">
            <div class="col-md-4">
              <div class="panel animation-slide-left animation-duration-2">
                <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6 margin-top-40">
                        <div class="text-left blue-grey-700">
                          <div class="font-size-20 margin-top-30">Registrados<hr></div>
                          <div class="font-size-50 margin-top-40">{{numberFormat registrados.valor}}</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="pie-progress pie-progress-lg" id="{{registrados.porcentaje}}" data-plugin="pieProgress"
                          data-barcolor="#5cd29d" data-goal="100" data-size="500" data-barsize="40"
                          aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                          <div class="pie-progress-content">
                          <div class="pie-progress-number">0%</div><br>
                          <i class="pie-progress-icon icon wb-clipboard" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel animation-slide-top animation-duration-2">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 margin-top-40">
                      <div class="text-left blue-grey-700">
                        <div class="font-size-20 margin-top-30">Confirmados<hr></div>
                        <div class="font-size-50 margin-top-40">{{numberFormat confirmados.valor}}</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="pie-progress pie-progress-lg" id="{{confirmados.porcentaje}}" data-plugin="pieProgress"
                      data-barcolor="#89bceb" data-goal="100" data-size="500" data-barsize="40"
                      aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                        <div class="pie-progress-content">
                          <div class="pie-progress-number">0%</div><br>
                          <i class="pie-progress-icon icon wb-eye" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel animation-slide-right animation-duration-2">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 margin-top-40">
                      <div class="text-left blue-grey-700">
                        <div class="font-size-20 margin-top-30">Devueltos<hr></div>
                        <div class="font-size-50 margin-top-40">{{numberFormat descartados.valor}}</div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="pie-progress pie-progress-lg" id="{{descartados.porcentaje}}" data-plugin="pieProgress"
                      data-barcolor="#fa7a7a" data-goal="100" data-size="500" data-barsize="40"
                      aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                        <div class="pie-progress-content">
                          <div class="pie-progress-number">0%</div><br>
                          <i class="pie-progress-icon icon wb-close" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
        
    <div class="row" data-plugin="matchHeight" data-by-row="true">            
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">Tareas del día<hr></h3>
          </div>
          <div class="panel-body">
              <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                  <div data-role="container">
                      <div data-role="content">
                        {{#if tareas}}
                        {{#each tareas}}
                          <li class="list-group-item justify-content-between">
                              <div class="checkbox-custom checkbox-success checkbox-lg">
                                <input type="checkbox" name="checkbox" {{#if finalizado}}checked{{/if}} class="check-ajax" data-id="{{_id}}">
                                <label class="item-title">
                                  <a href="/admin/proyectos/{{proyecto_id}}">{{titulo}}</a><br>
                                  <small><b>Descripción:</b> {{descripcion}}</small><br>
                                  <small>{{dateTime fecha_inicio}} - {{dateTime fecha_fin}}</small>
                                </label>
                              </div>
                          </li>
                        {{/each}}
                        {{else}}
                          No hay tareas para hoy.
                        {{/if}}
                      </div>
                  </div>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Próximos cumpleaños   <a href="/admin/cumplelist"><i class="icon wb-expand" aria-hidden="true"></i></a><hr></h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
              <div data-role="container">
                <div data-role="content">
                  {{#if personajes_cumple}}
                  {{#each personajes_cumple}}
                    <li class="list-group-item justify-content-between">
                        <div class="item-title">
                          <small><b>{{_id.day}} de {{#getMes _id.month}}{{/getMes}}</b></small>
                        </div>
                    </li>
                    {{#each personajes}}
                      <li class="list-group-item justify-content-between">
                          <div class="item-title">
                            <a href="/admin/personajes/{{_id}}">{{nombre}} - <time data-livestamp="{{fecha_nacimiento}}"></time></a>
                          </div>
                      </li>
                    {{/each}}
                  {{/each}}
                  {{else}}
                    No hay cumpleaños en los próximos 7 días.
                  {{/if}}
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">          
              <h3 class="panel-title">Actividad Reciente   <a href="/admin/logs"><i class="icon wb-expand" aria-hidden="true"></i></a><hr></h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
              <div data-role="container">
                <div data-role="content">
                  {{#if logs}}
                    {{#each logs}}
                      <li class="list-group-item justify-content-between">
                        <div>
                          <a href="/admin/{{#getModelPath model}}{{/getModelPath}}/{{document._id}}">
                            {{#ifCond model '==' 'Comentario'}}
                                Dejó un comentario en {{document.nombre}}.
                            {{/ifCond}}
                            {{#ifCond model '==' 'Upload'}}
                                Subio un archivo.
                            {{/ifCond}}

                            {{#ifCond type '==' 'UPDATE'}}Actualizó {{else}}Agregó {{/ifCond}}
                            {{#ifCond model '==' 'HojaDeVida'}}Hoja de Vida{{/ifCond}}
                            {{#ifCond model '==' 'Localidad'}}la Localidad {{/ifCond}}
                            {{#ifCond model '==' 'Personaje'}}a {{/ifCond}}
                            {{#ifCond model '==' 'Proyecto'}}un Proyecto {{/ifCond}}
                            {{#ifCond model '==' 'Contacto'}}un Contacto {{/ifCond}}
                            {{#ifCond model '==' 'User'}}un Usuario {{/ifCond}}

                            {{#if document.nombre}}
                              "{{document.nombre}}"
                            {{/if}}
                            {{#if document.name}}
                              "{{document.name}}"
                            {{/if}}
                          </a>
                          <br>
                          <small>Por {{user.name}} - {{user.role}} <time data-livestamp="{{createdAt}}"></time></small>
                        </div>
                        {{#ifCond type '==' 'UPDATE'}}
                          <small class="badge badge-round badge-info float-right">Actualización</small>
                        {{else}}
                          <small class="badge badge-round badge-success float-right">Nuevo</small>
                        {{/ifCond}}
                      </li>
                    {{/each}}
                  {{else}}
                    <p>Aún no hay actividad registrada</p>
                  {{/if}}
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script type="text/template" id="countdown-template">
<div class="time <%= label %>">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
</div>
</script>
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/team.min.css">
  <link rel="stylesheet" href="assets/vendor/aspieprogress/asPieProgress.min.css">
  <link rel="stylesheet" href="assets/examples/css/charts/pie-progress.min.css">

  <link rel="stylesheet" href="assets/vendor/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="assets/vendor/slick-carousel/slick.css">
  <link rel="stylesheet" href="assets/examples/css/uikit/carousel.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
  <script src="/assets/vendor/jquery-countdown/jquery-countdown.min.js"></script>

  <script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
  <script src="/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/assets/vendor/owl-carousel/owl.carousel.js"></script>
  <script src="/assets/vendor/slick-carousel/slick.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/home_view.js"></script>
  <script src="/assets/js/Plugin/aspieprogress.js"></script>
  <script src="/assets/examples/js/charts/pie-progress.js"></script>
  <script src="/assets/js/Plugin/asscrollable.js"></script>
  <script src="/assets/js/Plugin/switchery.js"></script>
  <script src="/assets/js/Plugin/slidepanel.js"></script>
  <script src="/assets/js/Plugin/owl-carousel.js"></script>
  <script src="/assets/examples/js/uikit/carousel.js"></script>
{{/contentFor}}
