<div class="page">
  <div class="page-content padding-30 container-fluid" data-plugin="matchHeight" data-by-row="true">
    
    <div class="row" >
      <div class="col-md-12">
        <div class="panel">
          <div class="row panel-body col-md-8 offset-md-3 col-xs-12">
            <div class="col-md-5 col-xs-12">
              <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                  <a href="/lider/contactos/new" class="btn btn-success">
                    <i class="icon wb-plus-circle" aria-hidden="true"></i>
                    <br>
                    <span class="text-uppercase hidden-xs">Agregar Contactos</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-xs-12">
              <div class="btn-group btn-group-justified">
                <div class="btn-group" role="group">
                  <a href="/lider/contactos" class="btn btn-primary">
                    <i class="icon wb-users" aria-hidden="true"></i>
                    <br>
                    <span class="text-uppercase hidden-xs">Listado Contactos</span>
                  </a>
                </div>
              </div>
            </div>           
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel animation-slide-left animation-duration-1">
          <div class="panel-body">
              <div class="row">
                <div class="col-md-6 margin-top-40">
                  <div class="text-left blue-grey-700">
                    <div class="font-size-20 margin-top-30">Registrados<hr></div>
                    <div class="font-size-50 margin-top-40">{{registrados.valor}}</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pie-progress pie-progress-lg" id="{{registrados.porcentaje}}" data-plugin="pieProgress"
                    data-barcolor="#5cd29d" data-goal="100" data-size="500" data-barsize="40"
                    aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                    <div class="pie-progress-content">
                    <div class="pie-progress-number">0%</div><br>
                    <i class="pie-progress-icon icon wb-clipboard" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel animation-slide-top animation-duration-1">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 margin-top-40">
                <div class="text-left blue-grey-700">
                  <div class="font-size-20 margin-top-30">Confirmados<hr></div>
                  <div class="font-size-50 margin-top-40">{{confirmados.valor}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pie-progress pie-progress-lg" id="{{confirmados.porcentaje}}" data-plugin="pieProgress"
                data-barcolor="#89bceb" data-goal="100" data-size="500" data-barsize="40"
                aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                  <div class="pie-progress-content">
                    <div class="pie-progress-number">0%</div><br>
                    <i class="pie-progress-icon icon wb-eye" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel animation-slide-right animation-duration-1">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 margin-top-40">
                <div class="text-left blue-grey-700">
                  <div class="font-size-20 margin-top-30">Devueltos<hr></div>
                  <div class="font-size-50 margin-top-40">{{descartados.valor}}</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="pie-progress pie-progress-lg" id="{{descartados.porcentaje}}" data-plugin="pieProgress"
                data-barcolor="#fa7a7a" data-goal="100" data-size="500" data-barsize="40"
                aria-valuemin="-100" aria-valuemax="450" role="progressbar">
                  <div class="pie-progress-content">
                    <div class="pie-progress-number">0%</div><br>
                    <i class="pie-progress-icon icon wb-close" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel bg-blue-600 white">
          <div class="panel-body">
            <div class="countdown">
              <h4>Próximas elecciones en:</h4>
              <div class="countdown-container" id="main-countdown"></div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<script type="text/template" id="countdown-template">
  <div class="time <%= label %>">
    <span class="count curr top"><%= curr %></span>
    <span class="count next top"><%= next %></span>
    <span class="count next bottom"><%= next %></span>
    <span class="count curr bottom"><%= curr %></span>
    <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
  </div>
</script>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="assets/vendor/aspieprogress/asPieProgress.min.css">
  <link rel="stylesheet" href="assets/examples/css/charts/pie-progress.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="/assets/vendor/jquery-countdown/jquery-countdown.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/home_view.js"></script>
  <script src="/js/lider.js"></script>
  <script src="/assets/js/Plugin/aspieprogress.js"></script>
  <script src="/assets/examples/js/charts/pie-progress.js"></script>
{{/contentFor}}