<div class="page animsition vertical-align text-center bg-blue-400" data-animsition-in="fade-in" data-animsition-out="fade-out" >&gt;
    <div class="col-md-4 offset-sm-4 col-xs-12">
        <div class="page-content animation-slide-right animation-duration-1">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img  width="160" height="180" src="../assets/logo.jpg" alt="...">
                        <h2 class="brand-text font-size-18">Inicie sesión en su cuenta</h2>
                    </div>
                    <form method="post" action="#" class="fv-form fv-form-bootstrap">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">

                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            <input type="email" class="form-control" name="email" />
                            <label class="floating-label">Correo</label>
                        </div>
                        <br>
                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            <input type="password" class="form-control" name="password" />
                            <label class="floating-label">Contraseña</label>
                        </div>
                        <div class="form-group clearfix">
                            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                                <input type="checkbox" id="inputCheckbox" name="remember">
                                <label for="inputCheckbox">Recordarme</label>
                            </div>
                        </div>                        
                        <a class="floating-label" class="pull-right" href="/forgot">Olvidaste la contraseña?</a>
                        <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
            <footer class="page-copyright ">
                <p>WEBSITE BY bogotasoyyo.co</p>
                <p>© 2016. All RIGHT RESERVED.</p>
                <div class="social">
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>
  </div>