<div class="page">
  <div class="page-content containter-fluid">      
    <div class="panel">
      <div class="panel-body">

        <div class="modal-dialog modal-center">
          <div class="modal-center">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
              <h4 class="page-title">Eliminar Usuario</h4>
            </div>

            <div class="modal-body">
              <form autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap" method="POST" _lpchecked="1" id="UsuarioDelete" onkeypress="return event.keyCode != 13;">
                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                      <input type="checkbox" id="eliminar" name="eliminar">
                      <label for="eliminar">Estoy seguro de inactivar el usuario. El usuario no podrá ingresar de nuevo al sistema</label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-block btn-danger">Eliminar Usuario</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>