<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Modificar Usuario</h1><hr>
      </div>

      <div class="panel">
        <div class="panel-body">
          <form autocomplete="off" method="POST">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>
                  
                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Nombre</label>
                      <input type="text" class="form-control" name="name" value={{name}} required/>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Email</label>                  
                      <input type="email" class="form-control" name="email" value="{{email}}" required/>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Perfil:</label>                     
                        <select class="form-control mb-10" name="role" data-autoselect={{role}}>
                          <option value="">... Seleccione Uno ...</option>
                          <option value="admin">Administrador</option>
                          <option value="asesor">Asesor</option>  
                          <option value="staff">Staff</option>
                          <option value="atencion">Atencion</option>
                          <option value="contador">Contador</option>
                        </select>                    
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <input name="pic" type="file" class="jfilestyle" data-placeholder="Seleccione foto de perfil" accept="image/*">
                      <input type="hidden" id="imagebase64"  name="pic_base64">
                      <input type="hidden" id="ext"  name="ext">
                    </div>
                    
                    <div class="col-md-6">
                      <div id="upload-editor" style="display: none"></div>
                      <div id="upload-controls" style="display: none;text-align:center">
                        <div class="rotar" data-deg="-90">Rotar a la izquierda</div>
                        <div class="rotar" data-deg="90">Rotar a la derecha</div>
                      </div>  
                    </div>
                  </div>
                </fieldset>             

                <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                  <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Guardar</button>
                </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/croppie.css">
  <link rel="stylesheet" href="/assets/vendor/fileStyle/jquery-filestyle.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/fileStyle/jquery-filestyle.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/select2.js"></script>
  <script src="/js/croppie.min.js"></script>
  <script src="/js/pass.js"></script>
{{/contentFor}}