<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Usuarios 
            <span class="badge badge-info">{{total}}</span>
          </h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="usuarios/new" title="Agregar Usuario">
            <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </button>
          </a>
        </div>        
      </div>
    </div>
    <input type="hidden" id="userRole" value="{{user.role}}">
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" width="100%" id="tbUsuarios">
          <thead>
            <tr>
              <th >Nombre</th>
              <th >E-mail</th>
              <th >Perfil</th>
              <th >Fec Cre</th>
              <th >Estado</th>
              <th width="15%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>E-mail</th>
              <th>Perfil</th>
              <th>Fec Cre</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- End Panel -->
    
    <div class="modal fade" id="tokenModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-md-10">
                <h5 class="modal-title text-center">Autorizar Personaje</h5>  
              </div>
              <div class="col-md-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>    
              </div>
            </div>
          </div>
          <div class="modal-body">
            <form id="ofertasForm" autocomplete="off" method="POST" novalidate="novalidate" action="/admin/activateToken" class="fv-form fv-form-bootstrap">
              <div class="row">
                <div class="col-md-5">
                  <label>Ingrese su contraseña :</label>
                </div>
                <div class="col-md-7">
                  <div class="form-group" style="clear: both;">
                    <input type="password" class="form-control" id="inputPass" name="inputPass" placeholder="Ingrese su contraseña">
                    <input type="hidden" id="userPass" name="userPass" >
                  </div>
                </div>  
              </div>
              <div class="row">
                <div class="form-group col-md-10 offset-md-1">
                  <button id="autorizar" name="autorizar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Autorizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/js/usuarios_list.js"></script>  
{{/contentFor}}
