<div class="page">
    <div class="page-content containter-fluid">      
        <div class="panel">
            <div class="panel-body">
                <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                    <div class="widget-header white bg-blue-600">
                        <div class="row row-lg">
                            <div class="col-xs-2 col-sm-2 align-text-center"><br>
                                <span>&nbsp;</span>
                                <a class="avatar avatar-100 pull-left margin-right-150" href="javascript:void(0)" data-plugin="zoom">
                                    <img class="img-circle" src="/portraits/{{found.profile_pic}}" alt="{{found.name}}" width="150" height="150" data-action="zoom">
                                </a>    
                            </div>
                            <div class="col-xs-10 col-md-6">
                                <div class="font-size-30 margin-bottom-15">{{found.name}}</div>
                                <hr>
                                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-envelope margin-right-10" aria-hidden="true"></i>
                                    <span class="text-break">{{found.email}}</span>
                                </p>
                                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-plugin" aria-hidden="true"></i>
                                    <span class="text-uppercase text-break">{{found.role}}</span>
                                </p>
                            </div>                            
                            
                            <div class="col-xs-12 col-sm-3 align-text-center"><br>
                                <div class="btn-group" role="group">
                                    <a href="/admin/contactos/{{found._id}}" target="_blank" title="Ver Listado Lider">
                                        <button class="btn btn-default btn-floating btn-round" type="button">
                                          <i class="icon wb-list-numbered" aria-hidden="true" ></i>
                                        </button>    
                                    </a>
                                </div>
                                {{#ifCond user.role '==' 'admins'}}
                                    <div class="btn-group" role="group">
                                        <a href="{{found._id}}/edit">
                                            <button  class="btn btn-default" type="button">
                                                <i class="icon wb-edit" aria-hidden="true" ></i><br>
                                                <span class="text-uppercase hidden-xs">Modificar</span>
                                            </button>    
                                        </a>
                                    </div>                            
                                    <div class="btn-group">
                                        <a href="{{found._id}}/edit">
                                            <button onclick="{{found._id}}/delete" class="btn btn-danger" type="button">
                                                <i class="icon wb-close" aria-hidden="true" ></i><br>
                                                <span class="text-uppercase hidden-xs">Inactivar</span>
                                            </button>
                                        </a>
                                    </div>
                                {{/ifCond}}
                            </div>
                        </div>                
                    </div>

                    <div class="widget-content">
                        <div class="row no-space padding-vertical-20 padding-horizontal-30 text-center">
                            <div class="col-xs-4 col-md-4">
                                <div class="counter">
                                    <div class="counter-number">{{registrados.potencial.urnas}}</div>
                                    <div class="counter-label">Total Declarado</div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="counter">
                                    <div class="counter-number blue-600">{{registrados.valor}}</div>
                                    <div class="counter-label">Total Registrado</div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="counter">
                                    <div class="counter-number green-600">{{confirmados.valor}}</div>
                                    <div class="counter-label">Total Confirmado</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-body">
                    <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                        <div class="table-responsive">
                            <table class="table" width="100%">
                                <caption>Estadisticas Reales</caption>
                                <tbody>
                                    <tr>
                                        <td>Contactos Registrados</td>
                                        <td align="center" width="50%">
                                            <div class="progress progress-xs margin-bottom-0">
                                                <div class="progress-bar progress-bar-info bg-blue-600" role="progressbar" aria-valuenow="{{registrados.porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="width: {{registrados.porcentaje}}%"></div>
                                            </div>
                                        </td>
                                        <td>{{registrados.porcentaje}} %</td>
                                    </tr>
                                    <tr>
                                        <td>Contactos Confirmados</td>
                                        <td align="center" width="50%">
                                            <div class="progress progress-xs margin-bottom-0">
                                                <div class="progress-bar progress-bar-info bg-green-600" role="progressbar" aria-valuenow="{{confirmados.porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="width: {{confirmados.porcentaje}}%"></div>
                                            </div>
                                        </td>
                                        <td>{{confirmados.porcentaje}} %</td>
                                    </tr>
                                    <tr>
                                        <td>Contactos Devueltos</td>
                                        <td align="center" width="50%">
                                            <div class="progress progress-xs margin-bottom-0">
                                                <div class="progress-bar progress-bar-info bg-red-600" role="progressbar" aria-valuenow="{{descartados.porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="width: {{descartados.porcentaje}}%"></div>
                                            </div>
                                        </td>
                                        <td>{{descartados.porcentaje}} %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>     
        </div>     
    </div>    
</div>


