<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <h1 class="page-title">Contactos Lider <span class="badge badge-info">{{total}}</span></h1><hr>
    </div>
        
    <div class="panel">
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
          <thead>
            <tr>
              <th rowspan="1">Identificacion</th>
              <th rowspan="1">Nombre</th>
              <th rowspan="1">Apellidos</th>
              <th rowspan="1">Tel. Fijo</th>
              <th rowspan="1">Tel. Movil</th>
              <th rowspan="1">E-mail</th>
              <th rowspan="1">Fec Contacto</th>
              <th rowspan="1">Estado</th>
              <th rowspan="1">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Identificacion</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Tel. Fijo</th>
              <th>Tel. Movil</th>
              <th>E-mail</th>
              <th>Fec Contacto</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {{#each results}}
              {{#if documento}}
                <tr class="gradeA">
                  <td tabindex="0">{{documento}}</td>
                  <td tabindex="0">{{nombre}}</td>
                  <td>{{apellido}}</td>
                  <td>{{telefono_fijo.indicativo}}-{{telefono_fijo.numero}}</td>
                  <td>{{telefono_movil}}</td>
                  <td>{{email}}</td>
                  <td>{{date fec_contacto}}</td>
                  <td>{{estado_contacto}}</td>
                  <td class="actions" align="center">
                    <a href="contactos/{{_id}}/edit" title="Editar" rol="tooltip">
                      <button class="btn btn-floating btn-default btn-sm">
                        <i class="icon wb-pencil" aria-hidden="true"></i>
                      </button>
                    </a>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
  <script src="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.html5.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.flash.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.print.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/js/Plugin/datatables.min.js"></script>  
  <script src="/assets/examples/js/tables/datatable.min.js"></script> 
  <script src="/js/lider.js"></script> 
{{/contentFor}}
