<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Listar Contactos Lider</h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body" id="newContact">
          <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <fieldset class="scheduler-border">

                  <div class="form-group identContact">
                    <div class="row">
                      <div class="col-md-6 col-xs-12 offset-md-2">
                        <label class="form-control-label">Identificación Lider:</label>
                        <input type="number" class="form-control" name="documento" required="" />
                      </div>  
                    
                      <div class="col-md-2 float-right">
                        <label class="form-control-label"><span>&nbsp;</span></label>
                        <button type="submit" class="btn btn-block btn-success" name="acceso">
                          Continuar <i class="icon wb-dropright"></i>  
                        </button>
                      </div>  
                    </div>
                  </div>
                </fieldset>
              </div>             
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel bg-blue-600 white">
            <div class="panel-body">
              <div class="countdown">
                <h4>Próximas elecciones en:</h4>
                <div class="countdown-container" id="main-countdown"></div>
              </div>
            </div>
          </div>
        </div>      
      </div>
  </div>
</div>

<script type="text/template" id="countdown-template">
  <div class="time <%= label %>">
    <span class="count curr top"><%= curr %></span>
    <span class="count next top"><%= next %></span>
    <span class="count next bottom"><%= next %></span>
    <span class="count curr bottom"><%= curr %></span>
    <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
  </div>
</script>

{{#contentFor "pageVendors"}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="/assets/vendor/jquery-countdown/jquery-countdown.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/home_view.js"></script>
  <script src="/js/lider.js"></script>
{{/contentFor}}
