<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-4">
          <div class="vertical-align h-60">
            <div class="vertical-align-middle">
              <h1 class="page-title ">Personajes 
                <button type="button" class="btn btn-default btn-icon btn-outline btn-round" name="frmBusq" style="cursor: pointer">
                  <i class="icon wb-chevron-down" aria-hidden="true"></i>
                </button>
              </h1>
            </div>
          </div>
        </div>
        <div class="col-md-8 panel-heading">
          <div class="step-info d-flex">
            <div class="col-lg-3 col-6">
              <div class="step">
                <span class="step-numbers blue-600">{{#numberFormat totales.potencial_real}}{{/numberFormat}}</span>
                <div class="step-desc">
                  <span class="step-title">Registrados</span>
                  <p>Activos en CRM</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="step">
                <span class="step-numbers red-600">{{#numberFormat totales.potencial_declarado}}{{/numberFormat}}</span>
                <div class="step-desc">
                  <span class="step-title">Potencial</span>
                  <p>Declarado</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="step">
                <span class="step-numbers orange-600">{{#numberFormat totales.potencial_esperado}}{{/numberFormat}}</span>
                <div class="step-desc">
                  <span class="step-title">Potencial</span>
                  <p>Esperado</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="step">
                <span class="step-numbers green-600">{{totales.porcentaje}} %</span>
                <div class="step-desc">
                  <span class="step-title">Progreso</span>
                  <p>Cargue CRM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" name="busqueda">
        <div class="col-md-10 offset-md-1">
          <form class="fv-form fv-form-bootstrap" role="search" id="frmBusqPersonajes">
            <div class="row">
              <select class="form-control" name="field" data-plugin="select2" style="display: none;">
                <option value="nombre">Nombre</option>
                <option value="email">Email</option>
                <option value="documento">Documento</option>
                <option value="telefono">Teléfono</option>
                <option value="formacion">Formación</option>
              </select>

              <div class="form-group col-md-3 offset-md-1">
                <label class="form-control-label">Documento:</label><br>
                <div style="clear: both;width: 100%">
                  <input type="text" class="form-control" id="inputSearch" name="documento" placeholder="Ingrese documento" >
                </div>
              </div>

              <div class="form-group col-md-3">
                <label class="form-control-label">Nombre:</label><br>
                <div style="clear: both;width: 100%">
                  <input type="text" class="form-control" id="inputSearch" name="nombre" placeholder="Ingrese Nombre" >
                </div>
              </div>
              
              <div class="form-group col-md-3">
                <label class="form-control-label">Estado:</label>
                <div class="btn-group user-color" >
                  <div class="btn btn-sm btn-success" style="cursor:pointer" onclick="color('primary');"></div>&nbsp;
                  <div class="btn btn-sm btn-warning" style="cursor:pointer" onclick="color('warning');"></div>&nbsp;
                  <div class="btn btn-sm btn-danger" style="cursor:pointer" onclick="color('danger');" ></div>&nbsp;
                  <div class="btn btn-sm btn-default" style="cursor:pointer" onclick="color('default');" ></div>&nbsp;
                </div>
              </div>
              
              <div class="form-group col-md-3 offset-md-1">
                <label class="form-control-label">Referido:</label>
                <select class="form-control selectAjax" name="referido" data-model="personajes"></select>
              </div>

              <div class="form-group col-md-3">
                <label class="form-control-label">Sin Referido:</label>
                <input type="checkbox" name="sinReferido" >
                <input type="hidden" id="inputSearch" name="color">
                <input type="checkbox" style="display: none;" name="csv" >
              </div>
              
              <div class="form-group col-md-3">
                <label class="form-control-label">Localidad Domicilio:</label>
                <select class="form-control selectAjax" name="localidad" data-model="localidades"></select>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <button type="button" name="consultaPer" class="btn btn-success btn-block">
                  <span class="btn-label">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <span class="hidden-xs">Consultar</span>
                </button>
              </div>
            </div>
          </form>
        </div> 
      </div> 
    </div>

    
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover table-responsive dataTable table-striped width-full dtr-inline" cellspacing="0" id="tbCandidatoP">
          <thead>
            <thead>
            <tr>
              <th width="5%">Foto</th>
              <th width="20%">Nombre</th>
              <th width="10%">Grupo</th>              
              <th width="15%">Referido</th>
              <th width="10%">Localidad</th>
              <th width="20%">Descripción</th>
              <th align="center" width="3%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Grupo</th>
              <th>Referido</th>
              <th>Localidad</th>
              <th>Descripción</th>
              <th>Actions</th>
            </tr>
          </tfoot>   
        </table>
        
    </div>
    <!-- End Panel -->
  </div>
</div>

<!-- Referidos modal -->
<div class="modal fade" id="imagenPersonaje" role="dialog" aria-labelledby="imagenPersonaje" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="d-flex mr-3 lazy zoom-img" id="imagenZoom" data-plugin="zoom" width="100%" data-action="zoom-out" data-src="/portraits/default.png" src="/portraits/default.png">
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/apps/work.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css"> 
  <link rel="stylesheet" href="/assets/vendor/toolbar/toolbar.min.css"> 
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/raphael/raphael-min.js"></script>
  <script src="/assets/vendor/morris/morris.js"></script>  
  <script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script> 
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script>
  <script src="/js/select2.js"></script>
  <script src="/assets/js/Plugin/slidepanel.js"></script>
  <script src="/assets/js/BaseApp.js"></script> 
  <script src="/assets/js/App/Work.js"></script> 
  <script src="/assets/examples/js/apps/work.js"></script> 
  <script src="/js/candidato_list.js"></script> 
{{/contentFor}}