{{#ifCond result.color '==' 'default'}}
  <div class="slidePanel-header bg-grey-400">
{{/ifCond}}
{{#ifCond result.color '==' 'danger'}}
  <div class="slidePanel-header bg-red-600">
{{/ifCond}}
{{#ifCond result.color '==' 'primary'}}
  <div class="slidePanel-header bg-green-600">
{{/ifCond}}
{{#ifCond result.color '==' 'warning'}}
  <div class="slidePanel-header bg-yellow-600">
{{/ifCond}}
  <div class="slidePanel-actions" aria-label="actions" role="group">
    <button type="button" class="btn btn-pure btn-inverse slidePanel-close actions-top icon wb-close"
      aria-hidden="true"></button>
  </div>
  <div class="media-left pr-20 pt-10">
    <div class="row">
      <div class="col-md-3">
        <a class="avatar avatar-lg img-bordererd bg-white margin-bottom-10" data-plugin="zoom" href="javascript:void(0)">
          {{#if result.foto_perfil}}
            <img src="/uploads/{{result.foto_perfil}}" data-action="zoom" alt="{{result.nombre}}">
          {{else}}
            <img src="/portraits/default.png" data-action="zoom" alt="{{result.nombre}}">
          {{/if}}
        </a>
      </div>
      <div class="col-md-9">
        <h1>{{result.nombre}} {{result.grupo.nombre}}</h1><br><span class="step-title">{{result.descripcion}}</span>
      </div>
    </div>        
  </div>
</div>
<div class="slidePanel-inner">
  <section class="slidePanel-inner-section">
    <div class="step-info d-flex">
      <div class="col-lg-3 col-6">
        <div class="step">
          <span class="step-numbers blue-600">{{#numberFormat result.potencial_declarado_urna}}{{/numberFormat}}</span>
          <div class="step-desc">
            <span class="step-title">Potencial</span>
            <p>Declarado</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="step">
          <span class="step-numbers red-600">{{#numberFormat result.potencial_esperado}}{{/numberFormat}}</span>
          <div class="step-desc">
            <span class="step-title">Potencial</span>
            <p>Esperado</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="step">
          <span class="step-numbers orange-600">{{#numberFormat result.potencial_real}}{{/numberFormat}}</span>
          <div class="step-desc">
            <span class="step-title">Potencial</span>
            <p>Real</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="step">
          <span class="step-numbers green-600">{{result.avance}} %</span>
          <div class="step-desc">
            <span class="step-title">Avance</span>
            <p>Registrado</p>
          </div>
        </div>
      </div>
    </div>
    <div class="line-chart">
      <div class="chart-header">
        <h3 class="blue-grey-700">PROJECT TREENDS</h3>
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown">
            Week
          </button>
          <div class="dropdown-menu animate dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#" role="menuitem">Day</a>
            <a class="dropdown-item" href="#" role="menuitem">Month</a>
            <a class="dropdown-item" href="#" role="menuitem">Year</a>
          </div>
        </div>
        <div class="chart-color">
          <span>
            <i class="bg-green-600"></i>
            <p>COMPLETED</p>
          </span>
          <span>
            <i class="bg-cyan-600"></i>
            <p>ADDED</p>
          </span>
        </div>
      </div>
      <div class="ct-chart trends-chart chartist-tooltip-wrap"></div>
    </div>
    <div class="bar-chart">
      <div class="chart-header">
        <h3 class="blue-grey-700">PROJECT TRENDS</h3>
        <div class="chart-color">
          <span>
            <i class="bg-blue-600"></i>
            <p>UNFINISHED</p>
          </span>
          <span>
            <i class="bg-green-600"></i>
            <p>COMPLETED</p>
          </span>
        </div>
      </div>
      <div class="ct-chart member-chart"></div>
    </div>
  </section>
  <div class="slidePanel-footer">
    <button type="button" class="btn btn-icon btn-danger btn-round">
      <i class="icon wb-flag" aria-hidden="true"></i>
    </button>
    <span>Tody completed
      <span class="red-600">3 tasks</span> . 3 New Tasks , 0 Schedule , 1 Topic , 2 Documents.</span>
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/apps/work.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">  
{{/contentFor}}