<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Modificar Hoja de Vida</h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body">
          <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">

                <fieldset class="scheduler-border">
                  <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>

                  <div class="form-group row" >
                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Personaje:</label>
                      <select class="form-control empty" name="personaje">
                        {{#if personaje}}
                          <option value="{{personaje._id}}" selected>{{personaje.nombre}}</option>
                        {{/if}}
                      </select>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Profesión: </label>
                      <input type="text" class="form-control" name="profesion" required="" value="{{profesion}}" />  
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-12">
                      <label class="form-control-label">Perfíl:</label>
                      <textarea class="form-control" name="perfil">{{perfil}}</textarea>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6">
                      <label class="form-control-label">Fecha Entrega:</label>
                      <input type="text" class="form-control" id="inputDate1" name="fecha_entregada" readonly="" data-plugin="datepicker" data-weekstart="1" value="{{date fecha_entregada}}"/>
                    </div>

                    <div class="col-md-6">
                      <label class="form-control-label">Prioridad: (Seleccione el nivel de prioridad de la hoja de vida)</label>
                      <div class="example-wrap m-sm-0 row">
                        <div class="col-md-8">
                          <div class="rating rating-lg" data-plugin="rating" data-score="{{prioridad}}" data-target="#exampleHintTarget"
                          data-hints="Baja, Media, Normal, Alta, Atención Inmediata">
                          </div>  
                        </div>
                        <div class="col-md-4">
                          <div class="rating-hint" id="exampleHintTarget"></div>
                        </div>                        
                      </div>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-6">
                      <label class="form-control-label">Aspiración Salarial:</label>
                      <input type="text" class="form-control" data-plugin="formatter" value="{{remuneracion}}" name="remuneracion" required="" data-pattern="[[999]][[999]][[999]]" />  
                    </div>

                    <div class="col-md-6">
                      <label class="form-control-label">Ubicación (Física):</label>
                      <input type="text" class="form-control" name="ubicacion" required="" value="{{ubicacion}}"/>  
                    </div>
                  </div>

                </fieldset>
                  
                <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                  <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Modificar</button>
                </div>
              </div>             
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/fileStyle/jquery-filestyle.min.css">
  <link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
  <link rel="stylesheet" href="/assets/vendor/formvalidation/formValidation.min.css">
  <link rel="stylesheet" href="/css/croppie.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
  <script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script>  
  <script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script>
  <script src="/assets/vendor/fileStyle/jquery-filestyle.min.js"></script>
  <script src="/assets/vendor/raty/jquery.raty.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Plugin/jquery-wizard.js"></script>  
  <script src="/js/croppie.min.js"></script>
  <script src="/assets/vendor/formatter/jquery.formatter.js"></script>
  <script src="/assets/js/Plugin/formatter.min.js"></script>
  <script src="/assets/js/Plugin/raty.js"></script>
  <script src="/js/hojavida_new.js"></script>
{{/contentFor}}
