<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Hojas de Vida <span class="badge badge-info">{{total}}</span></h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="hojasdevida/new" title="Agregar Hoja de Vida">
            <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <table class="table display table-striped" cellspacing="0" width="100%" id="tbHojasVida">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Referido</th>
              <th>Profesion</th>
              <th>Fec Entrega</th>
              <th>Ubicación</th>
              <th width="13%">Prioridad</th>
              <th>Estado</th>
              <th align="center" width="10%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Referido</th>
              <th>Profesion</th>
              <th>Fec Entrega</th>
              <th>Ubicación</th>
              <th>Prioridad</th>
              <th>Estado</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/raty/jquery.raty.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script>
  <script src="/assets/js/Plugin/raty.js"></script>
  <script src="/js/hojasdevida_list.js"></script>
{{/contentFor}}
