<div class="page">
  <div class="page-header">
    <h1 class="page-title">Eliminar Grupo</h1>
    <!--<ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/personajes">Personajes</a></li>
      <li class="active">Nuevo</li>
    </ol>-->
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
      <div class="panel-body">
        <form autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap" method="POST" _lpchecked="1" id="GrupoDelete" onkeypress="return event.keyCode != 13;">
          <div class="form-group">
            <div class="checkbox-custom checkbox-primary">
              <input type="checkbox" id="eliminar" name="eliminar">
              <label for="eliminar">Estoy seguro de elimnar el grupo. Se perderá la relación de personajes, comentarios y demás relaciones a éste grupo.</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-danger">Eliminar Grupo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
