<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Grupos <span class="badge badge-info">{{total}}</span></h1>
        </div>        
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">

        <form autocomplete="off" method="POST" novalidate="novalidate"  action="grupos/new" class="fv-form fv-form-bootstrap">
          <div class="row row-lg">
            <div class="col-lg-12 form-horizontal">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border"><h4>Agregar Grupo</h4><br></legend>

                <div class="form-group form-material floating" data-plugin="formMaterial">
                  <input type="text" class="form-control" name="nombre" />
                  <label class="floating-label">Nombre</label>
                </div>

              </fieldset>
                
              <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Registrar</button>
              </div>
            </div>             
          </div>
        </form>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="tbGrupos">
          <thead>
            <tr>
              <th >Nombre</th>
              <th >Usuario Cre</th>
              <th >Fec Cre</th>
              <th align="center" width="10%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Usuario Cre</th>
              <th>Fec Cre</th>
              <th>Actions</th>
            </tr>
          </tfoot>          
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script>
  <script src="/js/grupos_list.js"></script> 
{{/contentFor}}
