<p>A continuación encontrarás una lista de las personas que esta de cumpleaños.</p>
{{#each datos}}
  <table style="solid #eaeaea" width="100%" >
    <thead>
      <tr>
        <td colspan="3"><b>Fecha : {{_id.day}} de {{#getMes _id.month}}{{/getMes}} </b></td>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Telefono Movil</th>
        <th>E-mail</th>  
        <th>Ver</th>  
      </tr>
      
    </thead>
    <tbody>
      {{#each personajes}}
        <tr>
          <td>{{nombre}}, Cumple {{#edad fecha_nacimiento}}{{/edad}} años</td>
          <td>{{telefono_movil}}</td>
          <td>{{email_personal}}</td>
          <td><a href="http://bogotasoyyo.co/admin/personajes/{{_id}}">Ver</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table><hr>
{{/each}}
