<p>A continuación encontrarás una lista de las tareas para el día de mañana.</p>
<table style="border:1px solid #eaeaea" width="100%" cellpadding="10">
  <thead>
    <th aling="center">Inicio</th>
    <th>Titulo</th>
    <th>Descripción de la tarea</th>
  </thead>
  <tbody>
  {{#each tareas}}
  <tr>
    <td align="center">{{dateHour fecha_inicio}}</td>
    <td>{{titulo}}</td>
    <td>{{descripcion}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
