<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Localidades 
            <span class="badge badge-info">{{total}}</span>
          </h1>
          <span><b>Potencial Declarado :</b> <span id="declarado"></span> </span>
          <span><b>Potencial Real Bogota D.C : </b><span id="real"></span> </span>
        </div>
        <div class="col-md-2 float-right">
          <a href="localidades/pre-map" title="Ver Informe Personajes">
            <button class="btn btn-warning btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-map" aria-hidden="true"></i>
            </button>
          </a>
        </div>        
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" width="100%" id="tbLocalidades">
          <thead>
            <tr>
              <th >Nombre</th>
              <th >Potencial Declarado</th>
              <th >Potencial Real</th>
              <th align="center" width="20%">% Avance</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Potencial Declarado</th>
              <th>Potencial Real</th>
              <th>% Avance</th>
            </tr>
          </tfoot>           
         
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">  
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>  
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/js/localidades_list.js"></script>
{{/contentFor}}
