<div id="mapId"></div>
<input type="hidden" name="results" value="{{toJSON results}}">

{{#contentFor "pageStyles"}}
	<link rel="stylesheet" href="/assets/vendor/gauge-js/gauge.css">
  	<link rel="stylesheet" href="/assets/vendor/leaflet/leaflet.css">
	<link rel="stylesheet" href="/assets/vendor/aspieprogress/asPieProgress.min.css">
  	<link rel="stylesheet" href="/assets/examples/css/charts/pie-progress.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
	<script src="/assets/vendor/gauge-js/gauge.js"></script>
	<script src="/assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
	<script src="/assets/js/Plugin/aspieprogress.js"></script>
	<script src="/js/localidades_map.js"></script>
  	<script src="/assets/vendor/leaflet/leaflet-src.js"></script>
{{/contentFor}}