section {
  min-height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  position: relative; 
}

section .github-badge {
  position: absolute;
  top: 0;
  left: 0;  
}
section h1 {
  text-align: center;
  margin-bottom: 70px; 
}
section .hv-container {
  flex-grow: 1;
  overflow: auto;
  justify-content: center; 
}

.basic-style {
  background-color: #EFE6E2; }
  .basic-style > h1 {
    color: #ac2222; }

p.simple-card {
  margin: 0;
  background-color: #fff;
  color: #DE5454;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); 
}

.hv-item-parent p {
  font-weight: bold;
  color: #DE5454; 
}

.management-hierarchy {
  background-color: #303840; }
.management-hierarchy > h1 {
  color: #FFF; }
.management-hierarchy .person {
  text-align: center; }
.management-hierarchy .person > img {
  height: 50px;
  border: 3px solid #FFF;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff; }
.management-hierarchy .person > p.name {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 8px;
  font-weight: normal;
  color: #3BAA9D;
  margin: 0;
  position: relative; }
.management-hierarchy .person > p.name b {
  color: rgba(59, 170, 157, 0.5); }
.management-hierarchy .person > p.name:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #fff;
  left: 50%;
  top: 0;
  transform: translateY(-100%); 
}

.hv-wrapper {
  display: flex; 
}
.hv-wrapper .hv-item {
  display: flex;
  flex-direction: column;
  margin: auto; 
}
.hv-wrapper .hv-item .hv-item-parent {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center; 
}
.hv-wrapper .hv-item .hv-item-parent:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 25px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(100%); 
}
.hv-wrapper .hv-item .hv-item-children {
  display: flex;
  justify-content: center; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child {
  padding: 0 15px;
  position: relative; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:before, .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  width: 2px;
  height: 25px; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
  top: -25px;
  transform: translateY(-100%);
  height: 2px;
  width: 100%; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
  left: 50%;
  width: 50%; 
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
  width: calc(50% + 1px); 
}