<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Entidades <span class="badge badge-info">{{total}}</span></h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="entidades/new" title="Agregar Entidad">
            <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="tbEntidades">
          <thead>
            <tr>
              <th >Nombre</th>
              <th >Direccion</th>
              <th >Fec Cre</th>
              <th align="center" width="10%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Fec Cre</th>
              <th>Actions</th>
            </tr>
          </tfoot>          
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script>
  <script src="/js/entidades_list.js"></script> 
{{/contentFor}}
