<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <h1 class="page-title">Contactos Lider <span class="badge badge-info">{{total}}</span>
      {{#ifCond user.role '==' 'lider'}}
        <span class="float-right">
          <a href="/lider" title="Agregar Contacto">
            <button class="btn btn-default">
              <span class="btn-label">
                <i class="icon wb-layout" aria-hidden="true"></i>
              </span>
              <span class="hidden-xs">Pagina Inicio</span>
            </button>
          </a>
          <a href="contactos/new" title="Agregar Contacto">
            <button class="btn btn-success">
              <span class="btn-label">
                <i class="icon wb-plus-circle" aria-hidden="true"></i>
              </span>
              <span class="hidden-xs">Agregar Contacto</span>
            </button>
          </a>
        </span>
      {{/ifCond}}
      </h1><hr>
    </div>
        
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="tbContactos">
          <thead>
            <tr>
              <th>Identificacion</th>
              <th width="25%">Nombre</th>
              <th width="8%">Tel. Fijo</th>
              <th width="12%">Tel. Movil</th>
              <th width="18%">E-mail</th>
              <th width="8%">Fec Contacto</th>
              <th>Estado</th>
              <th>Lider</th>
              <th width="8%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Identificacion</th>
              <th>Nombre</th>
              <th>Tel. Fijo</th>
              <th>Tel. Movil</th>
              <th>E-mail</th>
              <th>Fec Contacto</th>
              <th>Estado</th>
              <th>Actios</th>
              <th>Lider</th>
            </tr>
          </tfoot>          
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/js/lider.js"></script> 
  <script src="/js/contactos_list.js"></script> 
{{/contentFor}}
