<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Registrar Contacto Lider
        <span class="float-right">
          <a href="/lider" title="Agregar Contacto">
            <button class="btn btn-default">
              <span class="btn-label">
                <i class="icon wb-layout" aria-hidden="true"></i>
              </span>
              <span class="hidden-xs">Pagina Inicio</span>
            </button>
          </a>
          <a href="/lider/contactos" title="Agregar Contacto">
            <button class="btn btn-primary">
              <span class="btn-label">
                <i class="icon wb-users" aria-hidden="true"></i>
              </span>
              <span class="hidden-xs">Listar Contactos</span>
            </button>
          </a>
        </span>
        </h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body" id="newContact">

          <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>

                  <div class="form-group identContact">
                    <div class="row">
                      <div class="col-md-6 col-xs-12 offset-md-2">
                        <label class="form-control-label">Identificación:</label>
                        <input type="number" class="form-control" name="documento" required="" />
                        <input type="hidden" class="form-control" name="nombre" required=""  readonly="" />  
                      </div>
                    
                      <div class="col-md-2 float-right">
                        <label class="form-control-label"><span>&nbsp;</span></label>
                        <button type="button" class="btn btn-block btn-success" name="acceso">
                          Continuar <i class="icon wb-dropright"></i>  
                        </button>
                      </div>  
                    </div>
                  </div>
                  
                  <div class="detailContact" style="display: none;">
                    <div class="form-group row" >
                      <div class="col-md-6 col-xs-12">
                        <label class="form-control-label">Nombre: </label>
                        <div class="form-control-label"><span name="lbNombre"></span></div>
                      </div>

                      <div class="col-md-6 col-xs-12">
                        <label class="form-control-label">Direccion: </label>
                        <input type="text" class="form-control" name="direccion" required=""  />  
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="form-control-label">Teléfono móvil</label>
                        <input type="text" class="form-control empty" name="telefono_movil" data-plugin="formatter" data-pattern="([[999]]) [[999]]-[[9999]]"/>
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-label">Teléfono fijo</label>
                        <div class="row">
                          <div class="col-sm-2">
                            <input type="number" class="form-control empty" name="telefono_fijo[indicativo]" placeholder="031" value="031" maxlength="3" data-pattern="[[999]]" />
                          </div>
                          <div class="col-sm-10">
                            <input type="number" class="form-control empty" data-pattern="[[9999999]]" name="telefono_fijo[numero]" placeholder="7770000" maxlength="7" />
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group row">                  
                      <div class="col-md-6 col-xs-12">
                        <label class="form-control-label">Email:</label>                  
                        <input type="email" class="form-control" name="email" required="" />
                      </div>

                      <div class="col-md-6 col-xs-12">
                        <label class="form-control-label">Fecha Contacto</label>
                        <input type="text" class="form-control" id="inputDate1" name="fec_contacto" readonly="" data-plugin="datepicker" data-weekstart="1" />
                      </div>                                                    
                    </div>  
                  </div>
                </fieldset>
                  
                <div class="form-group form-material row btnRegistro" style="display: none;">
                  <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                    <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary">Registrar</button>
                  </div>
                </div>
              </div>             
            </div>
          </form>
        </div>
      </div>
      <!-- End Panel Full Example -->
    </div>
  </div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
  <link rel="stylesheet" href="/assets/vendor/formvalidation/formValidation.min.css">
  <link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
  <script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script> 
  <script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script> 
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/vendor/formatter/jquery.formatter.js"></script>
  <script src="/assets/js/Plugin/formatter.min.js"></script>
  <script src="/js/contactos_new.js"></script>
  <script src="/js/lider.js"></script>
{{/contentFor}}
