<div class="page">
    <div class="page-header">
        <h1 class="page-title">Tareas</h1>
    </div>
    <div class="page-content">
      <div class="container-fluid tareas-estados">
        <div class="row">

        {{#each columnas}}
          <div class="columna col-sm-4">
            <div class="columna-titutlo">{{nombre}}</div>
            <div class="columna-contenido">
              {{#each tareas}}
                <div class="tarea {{estadoTarea this}}" data-id="{{_id}}" data-toggle="modal" data-target="#modal-{{_id}}">
                  <div class="tarea-titulo">{{titulo}}</div>
                  <div class="tarea-descripcion">
                    <small>{{descripcion}}</small>
                  </div>
                  <div class="details">
                    {{#if proyecto.personaje}}
                      <span class="badge badge-info">Personaje: {{proyecto.personaje.nombre}}</span>
                    {{/if}}
                    {{#if categoria}}
                      <span class="badge badge-warning">Categoria: {{categoria}}</span>
                    {{/if}}
                    <span class="badge badge-success">{{estado}}</span>
                    
                    {{#if proyecto}}
                      <br>
                      <small>Proyecto: <a href="/admin/proyectos/{{proyecto._id}}">{{proyecto.titulo}}</a></small>
                    {{/if}}
                  </div>
                  <div class="tarea-date">
                    <small><i class="icon fa-clock-o"></i> Fecha fin: {{dateTime fin}}</small>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
</div>
<script data-plugin="select2" style="display: none"></script>

{{#each tareas}}
<div class="modal fade" id="modal-{{_id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tarea: {{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-5">Descripción de la tarea:</dt>
          <dd class="col-sm-12">{{descripcion}}</dd>
          
          <dt class="col-sm-2">Inicio:</dt>
          <dd class="col-sm-4">{{dateTime inicio}}</dd>
          <dt class="col-sm-2">Fin:</dt>
          <dd class="col-sm-4">{{dateTime fin}}</dd>
          
          <dt class="col-sm-5">Proyecto:</dt>
          <dd class="col-sm-12">
            <a href="/admin/proyectos/{{proyecto._id}}">{{proyecto.titulo}}</a>
          </dd>
          <dt class="col-sm-5">Descripción del proyecto:</dt>
          <dd class="col-sm-12">{{proyecto.descripcion}}</dd>
          <dt class="col-sm-5">Objetivo del proyecto:</dt>
          <dd class="col-sm-12">{{proyecto.objetivo}}</dd>

          <dt class="col-sm-5">Personaje vinculado:</dt>
          <dd class="col-sm-12">
            {{#if personaje}}
            <a href="/admin/personajes/{{personaje._id}}">{{personaje.nombre}}</a>
            {{/if}}  
          </dd>
        </dl>

        <!-- Estado de la tarea -->
        <div class="form-group row">
          <label class="col-md-2 form-control-label">Estado:</label>
          <div class="col-md-10">
            <select class="form-control mb-10 actualiza-estado" name="estado" data-autoselect="{{estado}}" data-id="{{_id}}">
              <option value="PENDIENTE">PENDIENTE</option>
              <option value="FINALIZADO">FINALIZADO</option>
            </select>
          </div>
        </div>
        
        <form class="hidden-xs-up tarea-comment-form" action="#" data-id="{{_id}}" method="POST">
          <div class="form-group">
            <textarea name="comentario" required class="form-control" placeholder="Escribe un comentario"></textarea>
          </div>
          <button type="submit" class="btn btn-success btn-block">Dejar Comentario</button>
          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
        </form>
        <div class="btn btn-block btn-default agregar-elemento">Agregar Comentario</div>
        <div class="app-message-chats" data-id="{{_id}}">
          <div class="chats">
          {{#if comentarios}}
            {{#each comentarios}}
            <div class="chat chat-left">
              <div class="chat-avatar">
                {{usuario.name}}<br>
                <small data-livestamp="{{createdAt}}"></small>
              </div>
              <div class="chat-body">
                <div class="chat-content">
                  <p>{{comentario}}</p>
                </div>
                <div class="float-right">
                  <div class="btn btn-danger btn-sm eliminar-comentario" data-id="{{../_id}}" data-comment="{{_id}}">&times</div>
                </div>
              </div>
            </div>
            {{/each}}
          {{else}}
            <h5 class="pt-20">Aún no tiene comentarios</h5>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<script id="chatTemplate" type="text/html">
  <div class="chat chat-left">
    <div class="chat-avatar">
      {{usuario.name}}<br>
      <small data-livestamp="[fecha]"></small>
    </div>
    <div class="chat-body">
      <div class="chat-content">
        <p>[comentario]</p>
      </div>
      <div class="float-right">
        <div class="btn btn-danger btn-sm eliminar-comentario" data-id="[id]" data-comment="[comentario_id]">&times</div>
      </div>
    </div>
  </div>
</script>

{{#contentFor "pageScripts"}}
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/select2.js"></script>
<script src="/js/tareas.js"></script>
{{/contentFor}}

{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/css/tareas.css">
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.tareas = {{#if tareas}}{{{toJSON tareas}}}{{else}}{}{{/if}};
  Tareas();
{{/contentFor}}
