<!-- Page -->
<div class="page">  
  <div class="page-main calendario" style="position: absolute" >
    <button class="btn btn-default btn-icon btn-outline btn-round show">
      <i class="icon wb-menu" aria-hidden="true"></i>
    </button>
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>
  </div>

  <div class="page-main" style="float:left; display:none; " id="filtro" >
    <div data-role="container" style="height: 100%">
      <h3 class="page-aside-title">Categorias
          <span aria-hidden="true" class=" close" style="cursor: pointer;">&times;</span>
      </h3>

      <form class="form pr-10 pl-10" role="search" method="GET" action="#">
        <div class="form-group">
          <select class="form-control mb-10" name="filtro" data-autoselect="{{query.filtro}}">
            <option value="">Todas</option>
            {{#each columnas}}
              <option value="{{nombre}}">{{nombre}}</option>
            {{/each}}
          </select>
          <button type="submit" class="btn btn-block btn-primary">Filtrar</button>
        </div>
      </form>

      <div class="list-group calendar-list">
        {{#each tareas}}
        <a style="border-bottom: 1px solid #eaeaea" class="list-group-item calendar-event" data-title="{{title}}" data.estado="{{estado}}" data-stick=true data-color="{{backgroundColor}}" href="{{url}}">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12" style="clear: both;"><i class="wb-medium-point {{color}}-600 mr-10" aria-hidden="true"></i>{{{title}}} : {{descripcion}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{{detail}}}
              </div>
              <div class="col-md-6">
                <div class="tarea-date"><small><i class="icon fa-clock-o"></i> Inicio: {{divStart}}</small></div><br>
                <div class="tarea-date"><small><i class="icon fa-clock-o"></i> Fin: {{divEnd}}</small></div>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<!-- End Site Action -->
{{#contentFor "bodyClass"}}page-aside-left{{/contentFor}}
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/fullcalendar/fullcalendar.css">
  <link rel="stylesheet" href="/css/calendar.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="/assets/vendor/fullcalendar/fullcalendar.js"></script>
  <script src="/assets/vendor/bootbox/bootbox.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/assets/js/Plugin/bootbox.js"></script>
  <script src="/assets/js/Plugin/switchery.js"></script>
  <script src="/assets/js/App/Calendar.js"></script>
  <script src="/js/select2.js"></script>
  <script src="/js/tareas_list.js"></script>
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.events = {{#if tareas}}{{{toJSON tareas}}}{{else}}{}{{/if}};
  AppCalendar.run();  
{{/contentFor}}
