<div class="page">
  <div class="page-header">
    <h1 class="page-title">Acceso a Listado Denegado</h1>
    
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
      <div class="panel-body">
          <div class="form-group">
            <div class="">
              <label for="eliminar">El acceso al listado de personajes se encuentra restringido para su perfil. Solicite token de acceso o consulte una persona en específico [<span class="btn-label">
                <i class="icon wb-search" aria-hidden="true"></i>
              </span>]</label>
            </div>
          </div>
          <div class="form-group">
            <a href="/admin" class="btn btn-block btn-primary">Aceptar</a>
          </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageScripts"}}  
  <script src="/js/alert_token.js"></script>  
{{/contentFor}}