<section class="management-hierarchy">

    <div class="row">
        <div class="col-lg-8 offset-1 text-center">        
            <h2><b>Organización SM / </b>{{referencia.nombre}}</h2>            
        </div>
        <div class="col-lg-2">
            <div class="float-right">
                <button class="btn btn-primary btn-icon btn-outline btn-round" title="Exportar CSV" style="cursor: pointer">
                    <a href="#" >
                      <i class="icon wb-download" aria-hidden="true" ></i>
                    </a>
                </button>
                <br><br><br>
                <button class="btn btn-success btn-icon btn-outline btn-round" title="Aumentar" id="zoomP" style="cursor: pointer">
                  <i class="icon wb-plus-circle" aria-hidden="true" ></i>
                </button>
                <br>
                <button class="btn btn-default btn-icon btn-outline btn-round" title="Reducir" id="zoomN" style="cursor: pointer">
                  <i class="icon wb-minus-circle" aria-hidden="true" ></i>
                </button>
            </div>   
        </div>
    </div>

    <div id="divTree">
        <div class="hv-container">
            <div class="hv-wrapper">            
                <div class="hv-item">
                    
                    <div class="hv-item-parent">
                        <div class="person">
                            <img src="/assets/logo.jpg" alt="">
                            <p class="name">
                                <b>Bogota Soy Yo</b>
                            </p>
                        </div>
                    </div>
                    
                    <div class="hv-item-children" id="bogota"></div>
                </div>
            </div>
        </div>
    </div>    
</section>
<form action="/api/tree/personajes" method="POST" id="frmEstructure">
<input type="hidden" name="referencia" value="{{referencia._id}}">
<input type="hidden" name="referenciaNom" value="{{referencia.nombre}}">
<input type="hidden" name="referenciaFoto" value="{{referencia.foto_perfil}}">
<input type="hidden" name="referenciaPotencial" value="{{referencia.potencial_declarado_urna}}">
<input type="hidden" name="representante" value="{{referencia.representante}}">
<input type="hidden" name="data" >    
</form>



{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="/assets/css/hierarchy-view.css">
{{/contentFor}}

{{#contentFor "loadedScript"}}
    var referencia = $('input[name="referencia"]').val();
    let json_data = [];
    json_data.push({
        documento: 'Documento',
        nombre: 'Nombre',
        email: 'Email Personal',
        telefono_movil: 'Teléfono móvil',
        direccion_residencia: 'Dirección residencia',
        representante: 'Representante'
    });

    $('[name = exportar-csv]').click(function(){
        $.ajax({
            type:'POST',
            url: '/api/tree/personajes',
            data: {docs:json_data},
            cache: false,
            success: function(result){                
                var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(result);
                var downloadLink = document.createElement("a");
                downloadLink.href = uri;
                downloadLink.download = document.title ? document.title.replace(/ /g, "_") + ".csv" : "data.csv";
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        });
    });

    if(referencia){
        let personaje = {
            id : referencia,
            nombre : $('input[name="referenciaNom"]').val(),
            foto_perfil : $('input[name="referenciaFoto"]').val(),
            potencial_declarado_urna : $('input[name="referenciaPotencial"]').val(),
            representante : $('input[name="representante"]').val()
        }
        pintar_padre(personaje, 'bogota');
        loadChilds(referencia, referencia);
    }else{
        $.getJSON("/api/tree/personajes",function(data) {        
            data.result.forEach(function(persona, index) {
                if(!persona.hasChild){
                    pintar_hijo(persona, 'bogota');
                }else{
                    pintar_padre(persona, 'bogota'); 
                    loadChilds(persona.id, persona.id);
                }
            }); 
        });
    }

    function loadChilds(id, child) {
        $.getJSON("/api/tree/personajes/" + id, function(data) {
           data.result.forEach(function(persona, index) {
                if(!persona.hasChild){
                    pintar_hijo(persona, child);
                }else{
                    pintar_padre(persona, child); 
                    loadChilds(persona.id, persona.id);
                }
            });
        });
    }

    function pintar_hijo(persona, child){
        let foto = '';
        if(persona.foto_perfil){
            foto = '/uploads/'+persona.foto_perfil;
        }else{
            foto = '/portraits/default.png';
        }
        
        let representante = '';
        if(persona.representante){
            representante = '<div class="float-right"><button class="btn btn-warning btn-icon btn-outline btn-round" title="Personaje con credencial"><i class="icon icon fa-tag" aria-hidden="true"></i></button></div>';
        }
         
        let html = '<div class="hv-item-child" ><div class="hv-item"><div class="hv-item-parent"><div class="person">'+representante+'<img data-action="zoom" src="'+foto+'" data-personaje="'+persona.id+'" class="personajeDet"><p class="name">'+persona.nombre+'<strong> Pot: '+persona.potencial_declarado_urna+'</strong></p></div></div></div></div>';
        
        json_data.push({
            documento: persona.documento,
            nombre: persona.nombre,
            email: persona.email_personal,
            telefono_movil: persona.telefono_movil,
            direccion_residencia: persona.direccion_residencia
        });

        
        $( "#"+child ).append( html );

        return true;
    }

    function pintar_padre(persona, child){
        let foto = '';
        if(persona.foto_perfil){
            foto = '/uploads/'+persona.foto_perfil;
        }else{
            foto = '/portraits/default.png';
        }
        
        let representante = '';
        if(persona.representante){
            representante = '<div class="float-right"><button class="btn btn-warning btn-icon btn-outline btn-round" title="Personaje con credencial"><i class="icon icon fa-tag" aria-hidden="true"></i></button></div>';
        }

        let html = '<div class="hv-item-child"><div class="hv-item" ><div class="hv-item-parent"><div class="person">'+representante+'<img src="'+foto+'" data-action="zoom" data-personaje="'+persona.id+'" class="personajeDet"><p class="name">'+persona.nombre+' <strong> Pot: '+persona.potencial_declarado_urna+'</strong></p></div></div><div class="hv-item-children" id="'+persona.id+'"></div></div></div>';
        
        json_data.push({
            documento: '(+) '+persona.documento,
            nombre: persona.nombre,
            email: persona.email_personal,
            telefono_movil: persona.telefono_movil,
            direccion_residencia: persona.direccion_residencia
        });

        $( "#"+child ).append( html );
        return true;
    }

    setTimeout(function(){
        $('.personajeDet').each(function() {
            $(this).click(function(){
                var id = $(this).data('personaje');
        
                $.getJSON("/api/tree/personajes/" + id+"/detail", function(data) {
                    console.log('data');
                    console.log(data);
                    data.result.forEach(function(persona, index) {
                        
                        toastr.info("<ul><li><b>Tel Fijo:</b>"+persona.telefono_fijo.indicativo+"-"+persona.telefono_fijo.numero+"</li><li><b>Tel Celular:</b>"+persona.telefono_movil+"</li><li><b>Dirección:</b>"+persona.direccion_residencia+"</li><li><b>Email:</b>"+persona.email_personal+"</li></ul>",'Informacion Personaje '+ persona.nombre);
                    });
                });
            });
        }); 
    }, 5000);

    //Manejo Zoom Mapa
    var minZoom = -100;
    var maxZoom = 5;

    $('#zoomP').on('click', function(e){
        zoom(1);
    });
      
    $('#zoomN').on('click', function(e){
        zoom(-0.5);
    });

    function zoom(num) {
        var zoomVal = parseInt($('#divTree').css('zoom'), 10);
        zoomVal = zoomVal + num;
        if (zoomVal < minZoom || zoomVal > maxZoom) {
            return;
        }

        $('#divTree').css('zoom', zoomVal);
    }
{{/contentFor}}

