<div class="page">
  <div class="page-content">

    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Personajes 
          {{#if deleted_view}}
            eliminados <span class="badge badge-danger">{{total}}</span>
          {{else}}
            <span class="badge badge-info btn-round">{{total}}</span> <a href="/admin/personajedel" target="_blank" class="badge badge-danger btn-round eliminados" style="cursor: pointer"></a>
          {{/if}}
          </h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="personajes/new" title="Agregar personaje">
            <button class="btn btn-success btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </button>
          </a>
          <button class="btn btn-primary btn-floating btn-icon btn-round" style="cursor: pointer" name="exportar-csv">
            <i class="icon wb-download" aria-hidden="true"></i>
          </button>
        </div>        
      </div><hr>
      
      <div class="hidden-sm-down">
        <form class="fv-form fv-form-bootstrap" role="search" id="frmBusqPersonajes">
          <div class="row">
            <div class="form-group col-md-2">
              <label class="form-control-label">Tipo:</label>
              <select class="form-control" name="field" data-plugin="select2" >
                <option value="nombre">Nombre</option>
                <option value="email">Email</option>
                <option value="documento">Documento</option>
                <option value="telefono">Teléfono</option>
                <option value="formacion">Formación</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label">Buscar:</label><br>
              <div style="clear: both;width: 100%">
                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar personaje" >
                <input type="hidden" name="deleted" value="{{eliminados}}" >
              </div>
            </div>

            <div class="form-group col-md-2">
              <label class="form-control-label">Localidad:</label>
              <select class="form-control selectAjax" name="localidad" data-model="localidades"></select>
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label">Referido:</label>
              <select class="form-control selectAjax" name="referido" data-model="personajes"></select>
            </div>

            <div class="form-group col-md-2">
              <label class="form-control-label">Sin Referido:</label>
              <input type="checkbox" name="sinReferido" >
              <input type="checkbox" style="display: none;" name="csv" >
            </div>
          </div>
          <div class="row">
            <div class="form-group float-right col-md-12">
              <button class="btn btn-success btn-block">
                <span class="btn-label">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <span class="hidden-xs">Consultar</span>
              </button>
            </div>
          </div>
        </form>
      </div>      
    </div>

    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" width="100%" id="tbPersonajes">
          <thead>
            <tr>
              <th width="20%">Nombre</th>
              <th width="20%">Descripción</th>
              <th width="20%">Referido De</th>
              <th width="10%">Localidad</th>
              <th width="4%">Nacimiento</th>
              <th width="12%">Items</th>
              <th align="center" width="10%">Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Referido De</th>
              <th>Localidad</th>
              <th>Nacimiento</th>
              <th>Items</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Referidos modal -->
<div class="modal fade" id="imagenPersonaje" role="dialog" aria-labelledby="imagenPersonaje" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img class="d-flex mr-3 lazy zoom-img" id="imagenZoom" data-plugin="zoom" width="100%" data-action="zoom-out" data-src="/portraits/default.png" src="/portraits/default.png">
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/vendor/toolbar/toolbar.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/toolbar/jquery.toolbar.js"></script>
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/js/Plugin/toolbar.js"></script>
  <script src="/js/select2.js"></script>
  <script src="/assets/examples/js/tables/datatable.js"></script>  
  <script src="/js/personajes_list.js"></script>  
{{/contentFor}}
