<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Modificar Puesto Vocación</h1><hr>
      </div>

      <div class="panel">
        <div class="panel-body">
          <form autocomplete="off" method="POST">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <fieldset class="scheduler-border">
                  <div class="form-group row" >

                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Localidad:</label>                     
                      <select class="form-control" data-plugin="select2" name="localidad">
                        {{#if localidad}}
                          <option value="{{localidad._id}}">{{localidad.nombre}}</option>
                        {{else}}
                          <option value="">Seleccionar Localidad</opt>
                        {{/if}}                        
                        {{#each localidades}}
                          <option value="{{_id}}">{{nombre}}</option>
                        {{/each}}
                      </select>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <label class="form-control-label">Barrio</label>
                      <input type="text" class="form-control" name="barrio" value="{{barrio}}" required="" />
                    </div>

                  </div>
                  
                  <div class="form-group row" >
                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Mesas</label>
                      <input type="number" class="form-control" name="mesas" value="{{mesas}}" required="" />
                    </div>

                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Latitud</label>
                      <input type="text" class="form-control" name="latitud" value="{{latitud}}" required="" />
                    </div>
                    
                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Longitud</label>
                      <input type="text" class="form-control" name="longitud" value="{{longitud}}" required="" />
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Potencial Hombres</label>
                      <input type="number" class="form-control" name="potencial[hombres]" value="{{potencial.hombres}}" required="" />
                    </div>
                    
                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Potencial Mujeres</label>
                      <input type="number" class="form-control" name="potencial[mujeres]" value="{{potencial.mujeres}}" required="" />
                    </div>

                    <div class="col-md-4 col-xs-12">
                      <label class="form-control-label">Potencial Partido</label>
                      <input type="number" class="form-control" name="potencial[partido]" value="{{potencial.partido}}" required="" />
                    </div>
                  </div>

                  <div class="form-group row" >
                    <div class="col-md-12 col-xs-12">
                      <label class="form-control-label">Google Maps</label>
                      <input type="text" class="form-control" name="maps" value="{{maps}}" required="" />
                    </div>
                  </div>
                </fieldset>             

                <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                  <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Guardar</button>
                </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/croppie.css">
  <link rel="stylesheet" href="/assets/vendor/fileStyle/jquery-filestyle.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/fileStyle/jquery-filestyle.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/select2.js"></script>
  <script src="/js/croppie.min.js"></script>
  <script src="/js/pass.js"></script>
{{/contentFor}}