<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">Puestos De Votación 
            <span class="badge badge-info">{{total}}</span>
          </h1>
        </div>
        <div class="col-md-2 float-right">
          <a href="puestosdevotacion/pre-map" title="Ver Informe Personajes">
            <button class="btn btn-warning btn-floating btn-icon btn-round" style="cursor: pointer">
              <i class="icon wb-map" aria-hidden="true"></i>
            </button>
          </a>
          <button class="btn btn-primary btn-floating btn-icon btn-round" style="cursor: pointer" name="exportar-csv">
            <i class="icon wb-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div style="display:none;">
      <form class="fv-form fv-form-bootstrap" role="search" id="frmBusqPuestos">
        <input type="checkbox" style="display: none;" name="csv" >  
      </form>
    </div>
    
        
    <div class="panel">
      <div class="panel-body">
        <table class="table display table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="tbPuesto">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Localidad</th>
              <th>Barrio</th>
              <th>Dirección</th>
              <th>Mujeres</th>
              <th>Hombres</th>
              <th>Potencial</th>
              <th>Votacion</th>
              <th>Registrado</th>
              <th>V. Partido</th>
              <th>%. Partido</th>
              <th width="7%">Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Localidad</th>
              <th>Barrio</th>
              <th>Dirección</th>
              <th>Mujeres</th>
              <th>Hombres</th>
              <th>Potencial</th>
              <th>Votacion</th>
              <th>Registrado</th>
              <th>V. Partido</th>
              <th>% Partido</th>
              <th>Action</th>
            </tr>
          </tfoot>          
        </table>
        <input type="hidden" name="general" value="{{toJSON general}}">
        <input type="hidden" name="partido" value="{{toJSON partido}}">
        <input type="hidden" name="localidad" value="{{toJSON localidad}}">
        <input type="hidden" name="serie" value="{{toJSON serie}}">
        
        <div class="row example-wrap">
          <div class="col-md-6">
            <h4 class="example-title">Tabulación</h4>
            <p>Votación General por partido</p>
            <div class="example">
              <div id="donutGeneral"></div>
            </div>
          </div>

          <div class="col-md-6">
            <h4 class="example-title">_</h4>
            <p>Votación Cambio Radical por Localidad</p>
            <div class="example">
              <div id="donutLocalidadPartido"></div>
            </div>
          </div>  
        </div>
        <hr>
        <div class="example-wrap">
          <p>Barras Cambio Radical por Localidad</p>
          <div class="example">
            <div id="barLocalidadPartido"></div>
          </div>
        </div>
        <hr>
        <div class="example-wrap">
          <div class="example">
            <div id="barLocalidadPartidos"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">  
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/vendor/morris/morris.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/intro-js/intro.js"></script>
  <script src="/assets/vendor/raphael/raphael-min.js"></script>
  <script src="/assets/vendor/morris/morris.js"></script>  
  <script src="https://code.highcharts.com/highcharts.js"></script>  
  <script src="https://code.highcharts.com/modules/exporting.js"></script>  
{{/contentFor}}

{{#contentFor "pageScripts"}}  
  <script src="/assets/js/Site.js"></script>  
  <script src="/assets/examples/js/tables/datatable.js"></script> 
  <script src="/js/puestovotacion_list.js"></script>
{{/contentFor}}