<div id="mapId" style="height: 93%"></div>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<table>
			<tr>
				<td width="2%"><div style="border-radius: 50%; background: purple">&nbsp;</div></td>
				<td >&nbsp;Partido Cambio Radical&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: green">&nbsp;</div></td>
				<td>&nbsp;Partido Alianza Verde&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: blue">&nbsp;</div></td>
				<td>&nbsp;Partido Conservador Colombiano&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: grey">&nbsp;</div></td>
				<td>&nbsp;Partido Centro Democrático&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: red">&nbsp;</div></td>
				<td>&nbsp;Partido Liberal Colombiano&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: yellow">&nbsp;</div></td>
				<td>&nbsp;Libres&nbsp;</td>
				<td width="2%"><div style="border-radius: 50%; background: black">&nbsp;</div></td>
				<td>&nbsp;Otros</td>
			</tr>
		</table>
	</div>
	
</div>

<input type="hidden" name="results" value="{{toJSON results}}">

{{#contentFor "pageStyles"}}
	<link rel="stylesheet" href="/assets/vendor/gauge-js/gauge.css">
  	<link rel="stylesheet" href="/assets/vendor/leaflet/leaflet.css">
	<link rel="stylesheet" href="/assets/vendor/aspieprogress/asPieProgress.min.css">
  	<link rel="stylesheet" href="/assets/examples/css/charts/pie-progress.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
	<script src="/assets/vendor/gauge-js/gauge.js"></script>
	<script src="/assets/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
	<script src="/assets/js/Plugin/aspieprogress.js"></script>
	<script src="/js/puestosdevotacion_map.js"></script>
  	<script src="/assets/vendor/leaflet/leaflet-src.js"></script>
{{/contentFor}}