<div class="row" id="preMap" style="background: url('/loading-map.gif') no-repeat center center fixed; background-size: cover; height: 100%" ></div>

{{#contentFor "loadedScript"}}
	setTimeout(function(){
       $(location).attr('href', '/admin/puestosdevotacion/map');
    }, 3000);
{{/contentFor}}