<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Cargue Puesto Vocación</h1><hr>
      </div>

      <div class="panel">
        <div class="panel-body">
          <form >
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <fieldset class="scheduler-border">
                  
                  <div class="form-group row" >
                    <div class="col-md-12 col-xs-12">
                      <label class="form-control-label">Tipo Cargue:</label>                     
                      <select class="form-control" name="tipo">
                        <option value="1">Datos Nuevos</opt>
                        <option value="2">Modifica Dato Actual</opt>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" >
                    <div class="col-md-12 col-xs-12">
                      <label class="form-control-label">Datos:</label>                     
                     <textarea class="form-control" name="datos"></textarea>
                    </div>
                  </div>
                  
                </fieldset>             

                <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
                  <a id="registrar" name="registrar" type="button" class="btn btn-block btn-primary waves-effect waves-light">Guardar</button>
                </a>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>


{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/croppie.css">
  <link rel="stylesheet" href="/assets/vendor/fileStyle/jquery-filestyle.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/fileStyle/jquery-filestyle.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/select2.js"></script>
  <script src="/js/croppie.min.js"></script>
  <script src="/js/puestovotacion_up.js"></script>  
{{/contentFor}}