<div class="page">
    <div class="page-content containter-fluid">      
        <div class="panel">
            <div class="panel-body">
                <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                    <div class="widget-header white bg-blue-600">
                        <div class="row row-lg">
                            <div class="col-xs-2 col-sm-2 align-text-center"><br>
                                <span>&nbsp;</span>
                            </div>
                            <div class="col-xs-10 col-md-6">
                                <div class="font-size-30 margin-bottom-15">{{nombre}}
                                    <i class='float-rigth icon fa-street-view' aria-hidden='true' style='cursor:pointer' onclick="window.open('http://maps.google.com/maps?q=&layer=c&cbll={{localizacion}}&cbp=11,270,0,0,0', '_blank');" ></i>
                                </div>
                                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-map margin-right-10" aria-hidden="true"></i>
                                    <span class="text-break">{{direccion}}</span>
                                </p>
                                <p class="margin-bottom-5 text-nowrap"><i class="icon wb-globe" aria-hidden="true"></i>
                                    <span class="text-uppercase text-break">{{barrio}}, {{localidad.nombre}}</span>
                                </p>
                            </div>                            
                            
                            <div class="col-xs-12 col-sm-3 align-text-center"><br>
                                {{#ifCond user.role '==' 'admin'}}
                                    <div class="btn-group" role="group">
                                        <a href="{{_id}}/edit">
                                            <button  class="btn btn-default" type="button">
                                                <i class="icon wb-edit" aria-hidden="true" ></i><br>
                                                <span class="text-uppercase hidden-xs">Modificar</span>
                                            </button>    
                                        </a>
                                    </div>                            
                                {{/ifCond}}
                            </div>
                        </div>                
                    </div>
                    <br>
                    <div class="widget-content">
                        <div class="row no-space padding-vertical-20 padding-horizontal-30 text-center">
                            <div class="col-xs-3 col-md-3">
                                <div class="counter">
                                    <div class="counter-number">{{#numberFormat potencial_electoral}}{{/numberFormat}}</div>
                                    <div class="counter-label">Potencial Electoral</div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="counter">
                                    <div class="counter-number blue-600">{{#numberFormat votos}}{{/numberFormat}}</div>
                                    <div class="counter-label">Última Votación</div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="counter">
                                    <div class="counter-number red-600">{{sumCond potencial 'partido' '==' 'PARTIDO CAMBIO RADICAL' 'total'}}</div>
                                    <div class="counter-label">Votación del Partido</div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="counter">
                                    <div class="counter-number green-600">{{count registrados}}</div>
                                    <div class="counter-label">Potencial Registrado</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-body">
                    <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                        <div class="table-responsive">
                            <table class="table" width="100%">
                                <thead><tr><caption>Estadisticas Puesto</caption></tr></thead>                                
                                <tbody>
                                    {{#each potencial}}
                                        <tr>
                                            <td>{{partido}}</td>
                                            <td>V: {{total}}</td>
                                            <td align="center" width="50%">
                                                <div class="progress progress-xs margin-bottom-0">
                                                    <div class="progress-bar progress-bar-info bg-blue-600" role="progressbar"        aria-valuenow="{{#percent total "%" ../votos}}{{/percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{#percent total "%" ../votos}}{{/percent}}%"></div>
                                                </div>
                                            </td>
                                            <td>{{#percent total "%" ../votos}}{{/percent}} %</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="personalCompletedWidget" class="widget widget-shadow padding-bottom-20">
                        <div class="table-responsive">
                            <table class="table" width="100%">
                                <thead><tr><caption>Personajes Vinculados al Puesto</caption></tr></thead>                                
                                <tbody>
                                    {{#each registrados}}
                                        <tr>
                                            <td>{{personaje.nombre}}</td>
                                            <td>{{personaje.direccion}}</td>
                                            <td>{{personaje.telefono_movil}}</td>
                                            <td>{{personaje.telefono_fijo.numero}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>     
        </div>     
    </div>    
</div>


