<div class="page">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel page-header">
      <h1 class="page-title">Historial actividad Sistema <span class="badge badge-info">{{total}}</span></h1><hr>
    </div>
        
    <div class="panel">
      <div class="panel-body">
        <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
          <div data-role="container">
            <div data-role="content">
              {{#if results}}
                {{#each results}}
                  <li class="list-group-item justify-content-between" id="{{document._id}}">
                    <div>
                      <a href="/admin/{{#getModelPath model}}{{/getModelPath}}/{{document._id}}">
                        {{#ifCond model '==' 'Comentario'}}
                            Dejó un comentario en {{document.nombre}}.
                        {{/ifCond}}
                        {{#ifCond model '==' 'Upload'}}
                            Subio un archivo.
                        {{/ifCond}}

                        {{#ifCond type '==' 'UPDATE'}}Actualizó {{else}}Agregó {{/ifCond}}
                        {{#ifCond model '==' 'HojaDeVida'}}Hoja de Vida{{/ifCond}}
                        {{#ifCond model '==' 'Localidad'}}la Localidad {{/ifCond}}
                        {{#ifCond model '==' 'Personaje'}}a {{/ifCond}}
                        {{#ifCond model '==' 'Proyecto'}}un Proyecto {{/ifCond}}
                        {{#ifCond model '==' 'Contacto'}}un Contacto {{/ifCond}}
                        {{#if document.nombre}}
                          "{{document.nombre}}"
                        {{/if}}
                      </a>
                      <br>
                      <small>Por {{user.name}} - {{user.role}} <time data-livestamp="{{createdAt}}"></time></small>
                    </div>
                    {{#ifCond type '==' 'UPDATE'}}
                      <small class="badge badge-round badge-info float-right">Actualización</small>
                    {{else}}
                      <small class="badge badge-round badge-success float-right">Nuevo</small>
                    {{/ifCond}}
                  </li>
                {{/each}}
              {{else}}
                <p>Aún no hay actividad registrada</p>
              {{/if}}
            </div>
          </div>
        </ul>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>