<!-- Page -->
<div class="page">
  <div class="page-aside" style="overflow-y: auto !important">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <h3 class="page-aside-title">Proyectos</h3>

            <form class="form pr-10 pl-10" role="search" method="GET" action="#">
              <!--
              - Hoja de Vida
              - Tipos de Evento:
              - Primera reunion
              - Reunion Equipo
              - Visita Territorio
              - Gestion Entidad Publica
              - Gestion Endidad Privada
              - Cita Interpersonales
              - Consecución recurso
              -->
              <div class="form-group">
                <select class="form-control mb-10" name="filtro" data-autoselect="{{query.filtro}}">
                  <option value=""></option>
                  <option value="reunion">Reunión</option>
                  <option value="gestion_entidad_publica">Gestión entidad Pública</option>
                  <option value="gestion_entidad_privada">Gestión entidad Privada</option>
                  <option value="gestion_educativa">Gestión educativa</option>
                  <option value="hoja_de_vida">Tramitar Hoja de Vida</option>
                  <option value="realizar_pago">Realizar pago</option>
                  <option value="consecucion_recurso">Consecución Recursos Economicos</option>
                  <option value="programar_llamada">Programar llamada</option>
                  <option value="programar_reunion">Programar reunión</option>
                  <option value="comercial">Comercial</option>
                  <option value="compromiso_congresista">Compromiso congresista</option>
                </select>
                <button type="submit" class="btn btn-block btn-default">Filtrar</button>
              </div>
            </form>

            <div class="list-group calendar-list">
              {{#each projects}}
              <a style="border-bottom: 1px solid #eaeaea" class="list-group-item calendar-event" data-title="{{titulo}}" data-stick=true data-color="{{color}}-600" href="/admin/proyectos/{{_id}}">
                <div style="clear: both;width: 100%"><i class="wb-medium-point red-600 mr-10" aria-hidden="true"></i> {{titulo}}</div>
                <div><span class="badge badge-success">Tareas {{countCond tareas 'finalizado' '==' true}}/{{count tareas}}</span></div>
              </a>
              {{/each}}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="page-main">
    <div class="calendar-container">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<!-- End Site Action -->


{{#contentFor "bodyClass"}}page-aside-left{{/contentFor}}
{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/assets/vendor/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/calendar.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/vendor/fullcalendar/fullcalendar.min.js"></script>
<script src="/assets/vendor/bootbox/bootbox.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script src="/assets/js/Plugin/bootstrap-datepicker.js"></script>
<script src="/assets/js/Plugin/action-btn.js"></script>
<script src="/assets/js/Plugin/editlist.js"></script>
<script src="/assets/js/Plugin/bootbox.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
<script src="/assets/js/App/Calendar.js"></script>
<script src="/js/select2.js"></script>
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.members = {{#if members}}{{{toJSON members}}}{{else}}{}{{/if}};
  window.events = {{#if events}}{{{toJSON events}}}{{else}}{}{{/if}};

  AppCalendar.run();
{{/contentFor}}
