<div class="page">
  <div class="page-content container-fluid">    
      <!-- Panel Full Example -->
      <div class="panel page-header">
        <h1 class="page-title">Agregar Proyecto</h1><hr>
      </div>
        
      <div class="panel">
        <div class="panel-body">
        <form autocomplete="off" class="fv-form fv-form-bootstrap" method="POST" id="PersonajesNew" onkeypress="return event.keyCode != 13;">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"><h4>Detalles generales</h4><br></legend>
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="people">Personaje:</label>
                <div class="col-md-10">
                  <select id="personaje" class="form-control selectAjax" data-model="personajes" name="personaje">
                    {{#if query.personaje}}
                      <option value="{{query.personaje}}" selected="selected">{{query.personaje_name}}</option>
                    {{/if}}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 form-control-label">Categoría:</label>
                <div class="col-md-10">
                  <select class="form-control mb-10" name="tipo">
                    <option value="reunion">Reunión</option>
                    <option value="gestion_entidad_publica">Gestión entidad Pública</option>
                    <option value="gestion_entidad_privada">Gestión entidad Privada</option>
                    <option value="gestion_educativa">Gestión educativa</option>
                    <option value="hoja_de_vida">Tramitar Hoja de Vida</option>
                    <option value="realizar_pago">Realizar pago</option>
                    <option value="consecucion_recurso">Consecución Recursos Economicos</option>
                    <option value="programar_llamada">Programar llamada</option>
                    <option value="programar_reunion">Programar reunión</option>
                    <option value="comercial">Comercial</option>
                    <option value="compromiso_congresista">Compromiso congresista</option>
                    <option value="presentacion_lideres">Presentación de Líder(es)</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="titulo">Título:</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
              </div>

              <!--<div class="form-group row">
                <label class="col-md-2 form-control-label" for="objetivo">Objetivo:</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="objetivo" name="objetivo" required>
                </div>
              </div>-->

              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="descripcion">Descripción:</label>
                <div class="col-md-10">
                  <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                </div>
              </div>
              <!--
              <div class="form-group row">
                <label class="col-md-2 form-control-label" for="egresos">Egresos:</label>
                <div class="col-md-10">
                  <input type="number" class="form-control" id="egresos" name="egresos">
                </div>
              </div>
              -->
              <div class="form-group row">
                <label class="col-md-2 form-control-label">Participantes:</label>
                <div class="col-md-10">
                  <select id="eventResponsible" multiple class="plugin-selective" name="usuario_responsable" required></select>
                </div>
              </div>
              <!--
              <div class="form-group row">
                <label class="form-control-label col-md-2">Color:</label>
                <div class="col-md-10">
                  <ul class="color-selector">
                    <li class="bg-blue-600">
                      <input type="radio" checked name="color" value="blue" id="eventColorChosen2">
                      <label for="eventColorChosen2"></label>
                    </li>
                    <li class="bg-green-600">
                      <input type="radio" name="color" value="green" id="eventColorChosen3">
                      <label for="eventColorChosen3"></label>
                    </li>
                    <li class="bg-cyan-600">
                      <input type="radio" name="color" value="cyan" id="eventColorChosen4">
                      <label for="eventColorChosen4"></label>
                    </li>
                    <li class="bg-orange-600">
                      <input type="radio" name="color" value="orange" id="eventColorChosen5">
                      <label for="eventColorChosen5"></label>
                    </li>
                    <li class="bg-red-600">
                      <input type="radio" name="color" value="red" id="eventColorChosen6">
                      <label for="eventColorChosen6"></label>
                    </li>
                    <li class="bg-blue-grey-600">
                      <input type="radio" name="color" value="blue-grey" id="eventColorChosen7">
                      <label for="eventColorChosen7"></label>
                    </li>
                    <li class="bg-purple-600">
                      <input type="radio" name="color" value="purple" id="eventColorChosen8">
                      <label for="eventColorChosen8"></label>
                    </li>
                  </ul>
                </div>
                -->
              </div>
            </fieldset>
            <div class="form-group form-material col-lg-6 offset-sm-3 text-right padding-top-m">
              <button id="registrar" name="registrar" type="submit" class="btn btn-block btn-primary waves-effect waves-light">Crear Proyecto</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script data-plugin="select2"></script>

{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
<script src="/assets/js/Plugin/bootstrap-datepicker.js"></script>
<script src="/assets/js/Plugin/editlist.js"></script>
<script src="/assets/js/Plugin/bootbox.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.members = {{#if members}}{{{toJSON members}}}{{else}}{}{{/if}};

  $('.plugin-selective').selective({
    namespace: 'addMember',
    local: window.members,
    buildFromHtml: false,
    tpl: {
      optionValue: function optionValue(data) {
        return data.id;
      },
      frame: function frame() {
        return '<div class="' + this.namespace + '">\n          ' + this.options.tpl.items.call(this) + '\n          <div class="' + this.namespace + '-trigger">\n          ' + this.options.tpl.triggerButton.call(this) + '\n          <div class="' + this.namespace + '-trigger-dropdown">\n          ' + this.options.tpl.list.call(this) + '\n          </div>\n          </div>\n          </div>';
      },
      triggerButton: function triggerButton() {
        return '<div class="' + this.namespace + '-trigger-button"><i class="wb-plus"></i></div>';
      },
      listItem: function listItem(data) {
        return '<li class="' + this.namespace + '-list-item"><img class="avatar" src="' + data.avatar + '">' + data.name + '</li>';
      },
      item: function item(data) {
        return '<li class="' + this.namespace + '-item"><img class="avatar" src="' + data.avatar + '" title="' + data.name + '">' + this.options.tpl.itemRemove.call(this) + '</li>';
      },
      itemRemove: function itemRemove() {
        return '<span class="' + this.namespace + '-remove"><i class="wb-minus-circle"></i></span>';
      },
      option: function option(data) {
        return '<option value="' + this.options.tpl.optionValue.call(this, data) + '" seleted>' + data.name + '</option>';
      }
    }
  });
{{/contentFor}}
