<div class="page">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Page Widget -->
                <div class="widget widget-shadow">
                  <div class="widget-header">
                      <div class="widget-header-content">
                          <div class="media">
                            <div class="media-body">
                              <h3 class="profile-user text-center">{{titulo}}<hr></h3>
                            </div>
                          </div>
                          <br>
                          <div class="profile-job">
                            <dl class="dl-horizontal">
                              <dt>Personaje:</dt>
                              <div class="media-left pr-20 pt-10 text-center">
                                <a class="avatar avatar-lg img-bordererd bg-white margin-bottom-10" data-plugin="zoom" href="javascript:void(0)">
                                  {{#if personaje.foto_perfil}}
                                    <img src="/uploads/{{personaje.foto_perfil}}" data-action="zoom" alt="{{personaje.nombre}}">
                                  {{else}}
                                    <img src="/portraits/default.png" data-action="zoom" alt="{{personaje.nombre}}">
                                  {{/if}}
                                </a>
                                <dd>{{#if personaje}}<a href="/admin/personajes/{{personaje._id}}">{{personaje.nombre}}</a>{{/if}}<hr></dd>
                              </div>
                              <dt>Descripción:</dt>
                              <dd>{{descripcion}}</dd>
                              <dt>Tipo de proyecto:</dt>
                              <dd>{{tipoProyecto tipo}}</dd>
                              <!--<dt>Presupuesto:</dt>
                              <dd>{{money egresos}}</dd>
                              -->
                              <dt>Participantes:</dt>
                              <dd>
                                {{#if usuario_responsable}}
                                  <ul>
                                    {{#each usuario_responsable}}
                                      <li>
                                        {{name}} - {{role}}  
                                      </li>
                                    {{/each}}  
                                  </ul>
                                  
                                {{/if}}
                              </dd>
                              <dt>Progreso:</dt>
                              <dd>
                                {{countCond tareas 'finalizado' '==' true}}/{{count tareas}} tareas completadas.
                                <div class="text-center">
                                  <!-- Example Donut Dynamic -->
                                  <div class="example-wrap">
                                    <div class="donut grafDonut" data-value="{{countPercent tareas 'finalizado' '==' true}}" data-plugin="donut" data-porcentaje="{{countPercent tareas 'finalizado' '==' true}}" data-max-value="100" data-stroke-color="#f978a6">
                                      <div class="donut-label"></div>
                                      <canvas width="200" height="150"></canvas>
                                    </div>
                                  </div>
                                  <!-- End Example Donut Dynamic -->
                                </div>
                              </dd>
                            </dl>                            
                          </div>
                      </div>
                    </div>
                  </div>
                <!-- End Page Widget -->
            </div>

            <div class="col-md-9">
                <!-- Panel -->
                <span class="float-right">
                    <a href="{{_id}}/edit" class="btn btn-default"><i class="icon wb-edit" aria-hidden="true"></i>Editar</a>
                    <a href="{{_id}}/delete" class="btn btn-danger"><i class="icon wb-close" aria-hidden="true"></i>Eliminar</a>
                </span>
                <br><br>
                <div class="panel">                  
                  <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="active nav-link" data-toggle="tab" href="#tareas" aria-controls="tareas" role="tab">Tareas</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#comments" aria-controls="comments"
                        role="tab">Comentarios</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#files" aria-controls="files"
                        role="tab">Archivos</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active animation-slide-left pt-20" id="tareas" role="tabpanel">
                        <form class="form-vertical hidden-xs-up datepair-this" action="{{_id}}/tarea" id="proyectoTareaForm" method="POST">
                          <div class="form-group">
                            <label class="form-control-label" for="titulo">Título:</label>
                            <input type="text" name="titulo" required class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-control-label" for="descripcion">Descripción:</label>
                            <input type="text" name="descripcion" required class="form-control">
                          </div>
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label class="form-control-label" for="responsable">Responsable:</label>
                              <select id="responsable" class="form-control selectAjax" data-model="usuarios" name="responsable" required></select>  
                            </div>
                            <div class="col-md-6">
                              <label class="form-control-label" for="personaje">Vincular personaje:</label>
                              <select id="personaje" class="form-control selectAjax" data-model="personajes" name="personaje"></select>  
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="form-control-label" for="fecha_inicio">Inicia:</label>
                            <div class="input-daterange-wrap">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_inicio" class="form-control date start" data-plugin="datepicker">
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-time" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" class="form-control" id="fecha_inicio_time" name="fecha_fin_time" data-plugin="formatter" data-pattern="[[99]]:[[99]]"  value="09:00"/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-20">
                            <label class="form-control-label" for="fecha_fin">Finaliza:</label>
                            <div class="input-daterange-wrap">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_fin" class="form-control date end" data-plugin="datepicker">
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-time" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" class="form-control" id="fecha_fin_time" name="fecha_fin_time" data-plugin="formatter" data-pattern="[[99]]:[[99]]"  value="18:00"/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br><br>
                          <div class="row">
                            <div class="col-md-6">
                              <button type="submit" class="btn btn-success btn-block">Crear Tarea</button>  
                            </div>
                            <div class="col-md-6">
                              <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>  
                            </div>
                          </div>
                          
                        </form>
                        <div class="btn btn-block btn-success agregar-elemento">
                          <i class="icon wb-plus-circle" aria-hidden="true"></i>
                          Agregar Tarea
                        </div>
                        {{#if tareas}}
                          <div class="container-fluid mt-20">
                            <table class="table table-hover dataTable table-striped width-full dtr-inline" cellspacing="0" id="exampleTableSearch">
                              <thead>
                                <tr>
                                  <th rowspan="1"></th>
                                  <th rowspan="1">Titulo</th>
                                  <th rowspan="1">Descripción</th>
                                  <th rowspan="1">Inicio</th>
                                  <th rowspan="1">Finalización</th>
                                  <th rowspan="1">Responsable</th>
                                  <th rowspan="1">Estado</th>
                                  <th rowspan="1">Actions</th>
                                </tr>
                              </thead>
                              {{#each tareas}}
                                <tr class="gradeA">
                                  <td>
                                    <input type="checkbox" name="checkbox" {{#if finalizado}}checked{{/if}} class="check-ajax" data-id="{{_id}}">
                                  </td>
                                  <td tabindex="0">{{titulo}}</td>
                                  <td>
                                    {{descripcion}}
                                    {{#if personaje}}
                                      <p>Personaje vinculado:<br><a href="/admin/personajes/{{personaje._id}}">{{personaje.nombre}}</a></p>
                                    {{/if}}
                                  </td>
                                  <td>{{date fecha_inicio}}</td>
                                  <td>{{date fecha_fin}}</td>
                                  <td>{{responsable.name}}</td>
                                  <td>{{#if finalizado}}Finalizada{{else}}Pendiente{{/if}}{{#if visto}} <i title="Visto" class="fa fa-eye"></i>{{/if}}</td>
                                  <td>
                                    <form action="{{../_id}}/eliminar_tarea" id="eliminarTareaForm" method="POST">
                                    <input type="hidden" name="id" value="{{_id}}">
                                    <div class="form-group">
                                      <button type="submit" class="btn btn-danger btn-xs eliminar-tarea">Eliminar tarea</button>
                                    </div>
                                  </form>
                                  </td>
                                </tr>
                              {{/each}}
                            </table>
                          </div>
                        {{else}}
                          <h5 class="text-center">Éste proyecto aún no tiene tareas, agrega una para empezar.</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane pt-20" id="comments" role="tabpanel">
                        <form class="hidden-xs-up" action="{{_id}}/comment" id="proyectoCommentForm" method="POST">
                          <div class="form-group">
                            <textarea name="comentario" required class="form-control" placeholder="Escribe un comentario"></textarea>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Dejar Comentario</button>
                          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
                        </form>
                        <div class="btn btn-block btn-default agregar-elemento">Agregar Comentario</div>
                        {{#if comentarios}}
                        <div class="app-message-chats">
                          <div class="chats">
                            {{#each comentarios}}
                            <div class="chat chat-left">
                              <div class="chat-avatar">
                                {{usuario.name}}<br>
                                <small data-livestamp="{{createdAt}}"></small>
                              </div>
                              <div class="chat-body">
                                <div class="chat-content">
                                  <p>{{comentario}}</p>
                                </div>
                              </div>
                            </div>
                            {{/each}}
                          </div>
                        </div>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene comentarios</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="files" role="tabpanel">
                        <form class="upload-form pt-20" id="personajeUploadForm" action="{{_id}}/upload" method="POST" enctype="multipart/form-data">
                          <input required type="file" id="inputUpload" name="file">
                          <div class="uploader-inline">
                            <p class="upload-instructions">Da click o arrastra un archivo para subirlo.</p>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Subir archivo</button>
                        </form>
                        {{#if archivos}}
                        <table class="table table-hover mt-30">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Archivo</th>
                              <th>Subido por</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each archivos}}
                            <tr>
                              <td>
                                <i class="fa {{getIcon mimetype}}"></i>
                              </td>
                              <td>{{originalname}}</td>
                              <td>{{usuario.name}}</td>
                              <td><a href="/uploads/{{filename}}" target=_blank class="btn btn-outline btn-dark">Descargar</a></th>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene Archivos</h5>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>

<script data-plugin="select2"></script>
<script data-plugin="datepair"></script>

{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/datatables-responsive/dataTables.responsive.min.css">
  <link rel="stylesheet" href="/assets/examples/css/tables/datatable.min.css">
  <link rel="stylesheet" href="/assets/vendor/gauge-js/gauge.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/assets/vendor/datatables-fixedheader/dataTables.fixedHeader.js"></script>
  <script src="/assets/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="/assets/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.html5.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.flash.js"></script>
  <script src="/assets/vendor/datatables-buttons/buttons.print.js"></script>
  <script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script>
  <script src="/assets/vendor/fileStyle/jquery-filestyle.min.js"></script>
  <script src="/assets/vendor/gauge-js/gauge.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
  <script src="/js/select2.js"></script>
  <script src="/assets/vendor/formatter/jquery.formatter.js"></script>
  <script src="/assets/js/Plugin/formatter.min.js"></script>
  <script src="/assets/js/Plugin/datatables.min.js"></script>  
  <script src="/assets/examples/js/tables/datatable.min.js"></script>  
  <script src="/js/proyectos_view.js"></script>
  <script src="/assets/js/Plugin/gauge.js"></script>
  <script src="/assets/js/Plugin/donut.js"></script>
  <script src="/assets/examples/js/charts/gauges.js"></script>
{{/contentFor}}
